.bottom
  border-top: 1px solid $border
  padding: 42px 0 17px
  +r($sm)
    display: none
  //+r($xs)
  //  padding: 30px 0 0
  &__in
    display: table
    width: 100%
    table-layout: fixed
    //+r($sm)
    //  margin-bottom: 20px
    //  display: flex
    //  flex-wrap: wrap
    //  &:last-child
    //    margin-bottom: 0
  &__cell
    display: table-cell
    vertical-align: top
    padding-right: 15px
    &:nth-child(2n)
      padding-right: 0
    //+r($sm)
    //  display: block
    //  margin-bottom: 10px
    //  width: 50%
    //+r($tiny)
    //  width: 100%

    &:last-child
      padding-right: 0
  //.link
  //  +r($xxs)
  //    font-size: 12px


.title-small
  margin-bottom: 8px
  color: $text
  font-size: 14px
  font-weight: 600
  a
    color: $text
    transition: color .3s
    &:hover
      color: $link

