$buyer: #f0fddb
$seller: #fff2e5
.chat
  margin-left: -10px
  +r($sm)
    margin: -21px
  +r($xxs)
    margin: - 16px
  &__in
    position: relative
    display: table
    width: 100%
    table-layout: fixed
    +r($sm)
      display: block
    .btn_circle
      display: none
      +r($sm)
        display: block
        position: fixed
        right: 0
        top: 120px
        z-index: 9
        box-shadow: 0 5px 10px rgba(#000,.2)
  &__contacts
    position: relative
    padding: 20px 0
    z-index: 2
    display: table-cell
    vertical-align: top
    width: 280px
    +r($md)
      width: 250px
    +r($sm)
      opacity: 0
      visibility: hidden
      position: fixed
      right: 0
      top: 170px
      z-index: 9
      border: 1px solid $borderLight
      padding: 0
      background: #fff
      box-shadow: 0 5px 10px rgba(#000,.2)
      transition: opacity .3s
      &.is-active
        opacity: 1
        visibility: visible
    .user
      border-radius: 4px 0 0 4px
      +r($xs)
        border-radius: 0
        border-left-color: #fff
  &__main
    display: table-cell
    vertical-align: top
    border: 1px solid #ececec
    border-radius: 4px
    +r($sm)
      display: block
  &__body
    position: relative
    padding: 20px 20px 20px 11px
    height: 340px
  &__write
    padding: 10px 10px 35px
    background: #f4f4f4
    +r($sm)
      padding: 10px
  &__scrollbar
    position: relative
    margin-right: -1px
    padding: 10px 0
    height: 390px
    +r($sm)
      padding: 0
      max-height: 220px

.message
  margin-bottom: 10px
  font-weight: 400
  line-height: 1.46
  &_buyer
    text-align: right
    .message__in
      background: $buyer
      border-radius: 4px 4px 0 4px
      &:before
        right: -7px
        +arr(10,8,$buyer,bl)
    .message__meta
      text-align: left
      margin-left: -10px
  &_seller
    .message__in
      background: $seller
      border-radius: 4px 4px 4px 0
      &:before
        left: -7px
        +arr(8,10,$seller, br)
    .message__meta
      text-align: right
      margin-right: -10px
  &__in
    position: relative
    display: inline-block
    padding: 13px 20px 10px
    width: 260px
    +r($xxs)
      width: 90%
    &:before
      content: ''
      position: absolute
      bottom: 0
  &__text
    margin-bottom: 3px
    color: $text
    font-size: 13px
  &__meta
    color: #9698a6
    font-size: 11px

.user
  position: relative
  border: 1px solid transparent
  padding: 10px
  &:hover,
  &.is-active
    .user__name
      color: $main
  &.is-active
    border-color: $borderLight
    border-right-color: #fff
  &__in
    display: table
    width: 100%
    table-layout: fixed
  &__img
    display: table-cell
    vertical-align: middle
    width: 50px
    height: 50px
    img
      display: block
      width: 100%
      height: 100%
      object-fit: cover
      border-radius: 3px
  &__main
    display: table-cell
    vertical-align: middle
    padding: 0 35px 0 15px
  &__name
    font-size: 14px
    color: $text
    font-weight: 400
    +text-overflow
    transition: color .3s

.notification
  position: absolute
  right: 20px
  top: 20px
  width: 8px
  height: 8px
  background: $main
  border-radius: 50%
  &_counter
    width: 18px
    height: 18px
    text-align: center
    line-height: 18px
    font-size: 9px
    color: #fff
    font-weight: 300