html
  -webkit-font-smoothing: antialiased
  +selection
    background: $link
    color: #fff

body
  min-width: 320px
  background: #fff
  color: $dark
  +opensans
  font-size: 15px
  font-weight: 300
  line-height: 1.4

a
  text-decoration: none
  color: $link

.l-center
  margin: 0 auto
  padding: 0 15px
  max-width: 1200px
  +r($xs)
    padding: 0 10px

  &_small
    max-width: 990px

.out
  overflow: hidden

.visible-md
  display: none !important
  +r($md)
    display: block !important

.text-right
  text-align: right

.text-center
  text-align: center