.contacts
  border-top: 1px solid $border
  padding: 34px 0 42px
  text-align: center
  +r($md)
    padding: 30px 0
  &__list
    display: inline-block
    white-space: normal
  &__item
    display: inline-block
    vertical-align: middle
    padding: 0 53px
    text-align: left
    line-height: 1.45
    +r($md)
      display: block
      padding: 0
      text-align: center
  &__title
    display: block
    color: $text
    font-size: 14px
    font-weight: 300
  &__link
    color: $mainLight
    +neosans
    font-size: 40px
    font-weight: 400
    transition: color .3s
    +r($xs)
      font-size: 25px
    &:hover
      color: $main