.footer
  border-top: 1px solid $borderLight
  padding: 35px 0 7px
  +r($md)
    padding: 35px 0
  +r($sm)
    padding-bottom: 15px
  &__in
    +clr
    +r($md)
      display: flex
      flex-wrap: wrap
      justify-content: space-between
    > div
      &:last-child
        float: right
  &__logo
    float: left
    margin-right: 5.8%
    width: 322px
    +r($lg)
      margin-right: 4%
      width: 25%
    +r($md)
      margin-top: 20px
      width: 100%
      order: 10
    +r($sm)
      margin-top: 0
  &__nav
    float: left
    padding-right: 10px
    width: 15%
    +r($md)
      width: 25%
    +r($sm)
      width: 50%
  &__soc
    float: left
    +r($md)
      width: 25%
    +r($sm)
      width: 50%
      order: 10
      margin-top: 20px
  &__apps
    text-align: right
    +r($md)
      width: 25%
    +r($sm)
      width: 50%
      display: flex
    +r($xs)
      margin-top: 20px
      width: 100%
      order: 11
  &__copy
    margin-top: 10px
    color: #333
    font-size: 13px
    font-weight: 300
  .soc
    +r($sm)
      text-align: left

.logo-extend
  display: table
  width: 100%
  &__img
    display: table-cell
    vertical-align: middle
    width: 51px
    +r(1100)
      display: none
    img
      display: block
      width: 100%
      height: auto
  &__text
    display: table-cell
    vertical-align: middle
    padding-left: 25px
    font-size: 13px
    line-height: 1.54
    color: #a2a2a2
    +r(1100)
      padding-left: 0
    strong
      display: block
      color: $text
      font-weight: 400

.app-link
  margin-bottom: 10px
  +r($sm)
    padding-right: 10px
    margin-bottom: 0