.header
  position: relative
  border-bottom: 1px solid #ececec
  height: 80px
  z-index: 10
  +r($xs)
    height: 60px
  &__wrap
    +r(1024)
      position: absolute
      left: 0
      top: 0
      right: 0
      bottom: 0
      background: #fff
  &__in
    display: table
    width: 100%
  &__left,
  &__right
    display: table-cell
    vertical-align: middle
    height: 80px
    +r($xs)
      height: 60px
  &__right
    text-align: right
  .cash,
  .user-link
    margin-left: 10px
    +r($ipad)
      margin-left: 0

  .btn-add
    margin-left: 47px
    +r($xs)
      padding: 12px 16px
      .fa
        margin-right: 0
      span
        display: none
    +r($md)
      margin-left: 20px

.logo
  display: table
  vertical-align: middle
  table-layout: fixed
  width: 370px
  +r($md)
    width: auto
  &__img
    display: table-cell
    border-right: 3px solid #f68a1f
    width: 125px
    +r($md)
      width: auto
      border: 0
    +r($xs)
      width: 70px
    img
      +r($xs)
        display: block
        width: 100%
        height: auto
  &__text
    display: table-cell
    vertical-align: middle
    padding-left: 25px
    color: $text
    font-size: 13px
    font-weight: 400
    line-height: 1.54
    +r($md)
      display: none

.link-icon
  display: inline-block
  vertical-align: middle
  padding: 5px 7px
  font-size: 24px
  font-weight: 400
  +r($xs)
    font-size: 20px
  .fa
    color: #e5e5e5
    transition: color .3s
  &:hover
    .fa-star
      color: $mainDark
    .fa-comments
      color: $link

.cash
  position: relative
  display: inline-block
  vertical-align: middle
  line-height: 1
  padding: 5px 15px 5px 5px
  color: $text
  font-size: 14px
  font-weight: 600
  transition: color .3s
  +r($ipad)
    padding: 5px 7px
    color: #e5e5e5
  &:hover
    color: $link
  .fa
    position: absolute
    right: 0
    top: 7px
    font-size: 12px
    +r($ipad)
      position: static
      font-size: 24px
  span
    display: block
    max-width: 80px
    +text-overflow
    +r($ipad)
      display: none

.user-link
  position: relative
  display: inline-block
  vertical-align: middle
  padding: 10px 0
  max-width: 200px
  +r($ipad)
    padding: 10px 7px
  &:hover
    .drop-list
      opacity: 1
      visibility: visible
  .fa
    display: none
    font-size: 24px
    color: #e5e5e5
    transition: color .3s
    &:hover
      color: $link
    +r($ipad)
      display: block
    +r($xs)
      font-size: 20px
  .link
    +text-overflow
    +r($ipad)
      display: none
  .drop-list
    +r($ipad)
      left: auto
      right: -19px
      &:before
        left: auto
        right: 26px


