.image-title
  position: relative
  height: 35pe0px
  +vertical
  +r($md)
    height: 150px
  img
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    object-fit: cover
  &__text
    position: relative
    z-index: 2
    display: inline-block
    vertical-align: middle
    color: #fff
    +neosans
    font-size: 32px
    font-weight: 400

.article
  padding: 32px 0
  color: $dark
  +opensans
  font-size: 15px
  font-weight: 300
  line-height: 1.87
  +r($xs)
    padding: 10px 0
  h1, h2, h3, h4, h5, h6
    margin: 18px 0
    +neosans
    font-weight: normal
  h1
    font-size: 24px
    text-align: center
  h2
    font-size: 22px
    text-align: center
  h3
    font-size: 20px
  h4
    font-size: 18px
  h5
    font-size: 16px
  h6
    font-size: 15px
  p
    margin: 18px 0

  a
    display: inline-block
    line-height: 1.2
    border-bottom: 1px solid
    color: $link
    transition: color .3s
    &:hover
      color: $linkHover

.nav
  margin-bottom: 27px
  color: $text
  font-size: 13px
  font-weight: 300
  +r($xxs)
    font-size: 12px
  &__item
    margin-bottom: 8px
  &__link
    color: $text
    transition: color .3s
    cursor: pointer
    +r($sm)
      padding: 5px 0
    &:hover
      color: $link
  &__drop
    display: none
    padding-left: 10px
    font-size: 13px
    &.is-active
      display: block
    .nav__item
      margin-bottom: 0
  &_inline
    .nav__item
      display: inline-block
  &_reg
    font-weight: 400
  &_light
    color: #737373
    .nav__link
      color: #737373
      &:hover
        color: $link
  &_office
    border: 1px solid $borderLight
    border-right-width: 0
    padding: 25px 0
    font-size: 15px
    +r($md)
      border-right-width: 1px
    .nav__item
      &:last-child
        margin-bottom: 0
      &.is-active
        font-weight: 600
        > .nav__link
          color: $main
    .nav__link
      display: block
      padding: 5px 30px
      font-weight: 400
      +r($sm)
        padding: 5px 20px
      +r($xxs)
        padding: 5px 15px


.title
  margin: 56px 0 27px
  text-align: center
  color: $dark
  +neosans
  font-size: 24px
  font-weight: 400
  +r($xs)
    margin: 40px 0 20px
    font-size: 22px
  &_med
    margin: 23px 0 13px
    font-size: 18px
    text-align: left
    +r($xs)
      margin: 23px 0 13px
  &_small
    margin: 13px 0 3px
    font-size: 15px
    text-align: left
    +r($xs)
      margin: 13px 0 3px
  &_left
    text-align: left
  &_no-margin
    margin-bottom: 0
  &_mt
    margin-top: 35px
  a
    transition: color .3s
    &:hover
      color: $linkHover

.subtitle
  margin: 0 0 5px
  color: $text
  +opensans
  font-size: 14px
  font-weight: 300

.items-wrap
  margin: -15px
  padding: 0 0 60px
  +clr
  +r($sm)
    margin: -5px
  + .pager
    margin-top: -40px

.items-wrap-inline
  +clr
  margin-bottom: 35px
  +r($sm)
    margin: 0 -10px
  +r($xxs)
    margin: 0

.item-cell
  float: left
  padding: 15px
  width: 25%
  &_wide
    width: 33.3%
  +r($md)
    width: 33.3%
  +r($sm)
    padding: 10px 5px
    width: 50%
  +r(440)
    width: 100%


.item-cell-inline
  +r($sm)
    padding: 0 10px
    float: left
    width: 50%
  +r($xxs)
    padding: 10px 0
    width: 100%

.item
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1)
  border-radius: 3px
  overflow: hidden
  background: #fff
  transition: box-shadow .3s
  &_single
    margin-bottom: 20px
  &:hover
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.2)
    .link
      color: $main
  &_highlighted
    .item__in
      background-color: #fffde1
  &__badge
    border-top: 11px solid #ff5300
    padding: 10px 15px
    color: #ff5300
    line-height: 1
    font-size: 16px
    font-weight: 600
    text-transform: uppercase
  &__img
    position: relative
    display: block
    height: 175px
    +r($sm)
      height: 200px
    +r($xs)
      height: 170px
    +r(440)
      height: auto
    img
      display: block
      width: 100%
      height: 100%
      object-fit: cover
    .badge
      position: absolute
      right: 0
      top: 5px
      border-radius: 3px 0 0 3px
      &_top
        background: $main
        color: #fff
      &_hot
        background: #ff0606
        color: #fff

  &__main
    padding: 10px 15px 5px
  &__row
    position: relative
    margin: 4px 0
    display: table
    width: 100%
    table-layout: fixed
  &__block
    +r(620)
      display: block
      .item__cell
        display: block
      .item__price
        width: 100%
        text-align: left
  &__cell
    display: table-cell
    padding-right: 5px
    &:last-child
      text-align: right
      padding-right: 0
    &__price
      width: 40%
  &__info
    color: $text
    font-size: 13px
    font-weight: 600
  &__text
    color: $text
    font-size: 13px
    font-weight: 300
    line-height: 1.77
  &__head
    .link
      display: block
      +text-overflow
  &__title
    margin-bottom: 3px
    height: 65px
    overflow: hidden
    +r(620)
      height: auto
      margin-bottom: 10px
  &__in
    padding: 10px
  &__links
    .link
      margin-left: 15px
    .link_tiny
      font-size: 13px
    .fa-rub
      font-size: 11px
  &__favorite
    +r($sm)
      display: none
  .icon
    margin-left: 7px
    fill: #898a99
    opacity: 0.5
    font-size: 15px

.item_inline
  position: relative
  box-shadow: none
  border-bottom: 1px solid $border
  border-radius: 0
  padding: 10px 0
  +r($sm)
    margin-bottom: 20px
  +r($xs)
    margin-bottom: 0
  &:hover
    z-index: 2
    box-shadow: none

  .item__in
    display: table
    padding: 0
    width: 100%
    table-layout: fixed
    transition: border .3s
    +r($sm)
      display: block
      border: 0
  .item__img
    display: table-cell
    vertical-align: middle
    width: 250px
    height: 150px
    +r($sm)
      display: block
      width: 100%
    +r(480)
      height: auto
    img
      border-radius: 3px
  .item__main
    display: table-cell
    vertical-align: middle
    padding-right: 15px
    +r($sm)
      display: block
      padding: 10px 10px 5px
  .item__row
    table-layout: auto
    vertical-align: middle
  .item__price
    width: 22%
    +r(620)
      width: 100%

  .item__info
    white-space: normal
  .btn-favorite
    vertical-align: middle
    +r($sm)
      position: absolute
      left: 100%
      top: -62px
      margin-left: -15px
  .link_big
    white-space: normal
    +r($sm)
      font-size: 13px
    +r($xxs)
      font-size: 14px
  .meta
    + .meta
      +r($sm)
        margin-left: 0
  .price_big
    +r($sm)
      font-size: 14px


.item_inline-company
  .item__img
    border: 1px solid $borderLight
    border-radius: 3px
    height: 150px
    line-height: 150px
    text-align: center
    img
      display: inline-block
      vertical-align: middle
      width: auto
      height: auto
      max-width: 90%
      max-height: 90%
  .item__row
    margin: 10px 0
    &:first-child
      margin-top: 0


.sitemap
  margin: 0 -10px
  padding: 10px 0 45px
  column-count: 4
  +r($md)
    column-count: 3
  +r($sm)
    column-count: 2
  +r($tiny)
    column-count: 1
  &__cell
    display: inline-block
    padding: 0 10px
    vertical-align: top
  .nav
    margin-bottom: 7px

.form-panel
  margin: 0 auto 65px
  border: 2px solid #ececec
  padding: 52px 50px 40px
  max-width: 570px
  border-radius: 3px
  +r($xs)
    padding: 30px 20px
  .btn-wrap
    margin-bottom: 25px
  + .under-form
    margin-top: -40px
.under-form
  margin: 25px 0 55px
  text-align: center
  font-size: 14px
  font-weight: 400
  color: $text

.captcha
  position: relative
  margin-bottom: 30px
  +r(560)
    margin-bottom: 60px
  .input
    border-right: 0
    width: calc(50% + 10px)
    border-radius: 5px 0 0 5px
    +r(560)
      width: 100%
  &__img
    position: absolute
    top: 0
    left: calc(50% + 10px)
    +r(560)
      left: auto
      right: 0
  &__reload
    position: absolute
    right: 0
    top: 0
    width: 80px
    line-height: 1.2
    +r(560)
      top: 110%
    a
      font-size: 13px

.error
  display: table
  width: 100%
  text-align: center
  &__in
    display: table-cell
    vertical-align: middle
    padding: 20px 0
    height: calc(100vh - 300px)
    min-height: 300px
    +r($md)
      height: calc(100vh - 400px)
    +r($xs)
      height: 400px
  &__status
    margin-bottom: 55px
    color: #e5e5e5
    +neosans
    font-size: 80px
    font-weight: 400
    line-height: 1
    +r($xs)
      margin-bottom: 20px
      font-size: 45px
  .title
    margin: 0 0 12px
    +r($xs)
      font-size: 18px
  .text
    margin: 12px 0 25px

.text
  +opensans
  font-size: 14px
  color: $text
  font-weight: 400
  line-height: 1.64
  &_big
    font-size: 15px
    line-height: 1.87
    +r($xs)
      font-size: 14px
  a
    color: $link
    font-weight: 600
    transition: color .3s
    &:hover
      color: $linkHover

.refill
  &__in
    display: table
    width: 100%
    table-layout: fixed
    +r(640)
      display: block
  &__cell
    display: table-cell
    vertical-align: bottom
    &:last-child
      text-align: right
      +r(640)
        text-align: left
    +r(640)
      display: block
      margin-bottom: 20px

.balance
  display: inline-block
  padding: 34px 20px
  width: 290px
  border-radius: 4px
  border: 1px dashed $main
  font-weight: 400
  +justify
  &__title
    display: inline-block
    vertical-align: middle
    color: $text
    font-size: 15px
  &__value
    display: inline-block
    vertical-align: middle
    color: $main
    +neosans
    font-size: 24px

.payments
  margin: -10px -15px
  +clr
  &__cell
    float: left
    padding: 10px 15px
    width: 33.3%
    +r($sm)
      width: 50%
    +r($xxs)
      width: 100%

.payment
  margin: 0 0 0
  display: table
  width: 100%
  table-layout: fixed
  border-radius: 3px
  background: $bg
  transition: background .3s
  &:hover
    background: darken($bg, 5%)
  &__icon
    display: table-cell
    vertical-align: middle
    padding: 0 10px
    width: 70px
    height: 70px
    text-align: center
  &__name
    display: table-cell
    vertical-align: middle
    padding-right: 10px
    color: $text
    font-size: 15px
    font-weight: 400
  .fa
    color: $link
    font-size: 27px

.page-nav
  display: table
  width: 100%
  table-layout: fixed
  &_width
    display: block
    .page-nav__cell
      display: block
      &:first-child
        text-align: left
        width: 100%
    .page-nav__cols
      column-count: 3
      +r($sm)
        column-count: 2
      +r($xs)
        column-count: 1
  +r($xs)
    display: block
  &__cell
    padding: 30px 0
    display: table-cell
    vertical-align: bottom
    +r($lg)
      vertical-align: top
    +r($xs)
      padding: 20px 0
      display: block
    &:first-child
      width: 68%
      +r($xs)
        width: 100%
      +r($lg)
        width: auto
    &:last-child
      text-align: right
      +r($xs)
        text-align: left
  &__cols
    column-count: 3
    +r($lg)
      column-count: 1
  &__link
    display: inline-block
    width: 100%
    +r($lg)
      display: block

.pager
  margin: 35px 0 15px
  display: table
  width: 100%
  +r($xs)
    display: block
    margin: 20px 0
  &__prev
    display: table-cell
    vertical-align: middle
    padding: 0 10px
    a
      color: $link
      +opensans
      font-size: 16px
      font-weight: 400
    +r($xs)
      display: block
      text-align: center
      margin-bottom: 10px
  &__nav
    padding: 0 10px
    display: table-cell
    vertical-align: middle
    text-align: right
    +r($xs)
      display: block
      text-align: center
    li
      display: inline-block
      vertical-align: middle
      &.is-active
        a
          background-color: rgba($border, .3)
          color: $text
          font-weight: 600
    a
      display: block
      padding: 5px 10px
      border-radius: 4px
      line-height: 1
      font-size: 14px
      color: $link
      font-weight: 400

.crumbs
  margin-bottom: 20px
  font-size: 14px
  font-weight: 400
  line-height: 1.36
  color: $text
  &__item
    position: relative
    display: inline-block
    margin-right: 37px
    vertical-align: middle
    &:after
      content: ''
      position: absolute
      right: -23px
      top: 50%
      margin-top: -2px
      +arr(4,6,$border,r)
    &:last-child
      &:after
        display: none
  &__link
    color: $link
    transition: color .3s
    &:hover
      color: $linkHover
  &_new
    margin-bottom: 0
    font-size: 12px
    font-weight: 400
    .crumbs__item
      margin-right: 21px
      &:after
        right: -15px
        margin-top: -3px
    .crumbs__link
      color: #9698a6
      &:hover
        color: $main

.filter
  position: relative
  display: table
  width: 100%
  box-shadow: 0 1px 0 #ececec
  border-radius: 5px 5px 0 0
  background-color: $bg
  color: $text
  +opensans
  font-size: 13px
  font-weight: 300
  +r($sm)
    table-layout: fixed
  &__cell
    display: table-cell
    vertical-align: middle
    padding: 0 5px
    height: 50px
    text-align: center
    +r($sm)
      height: 74px
      width: 28%
      text-align: left
    +r($xs)
      width: 39%
    &:first-child
      text-align: left
      padding-left: 15px
      +r($xs)
        padding-left: 5px
    &:last-child
      padding-right: 15px
      text-align: right
      +r($xs)
        padding-right: 5px
  &__price
    +r($sm)
      width: 15%
    +r($xs)
      width: 22%
  &__view
    +r($xs)
      position: absolute
      top: -30px
      right: 0
      height: auto
    a
      display: inline-block
      padding: 0 5px
      font-size: 17px
      color: $border
      &.is-active
        color: $text
  &__links
    +r($sm)
      display: none
  &__select
    display: none
    +r($sm)
      display: block

  .link
    padding: 0 5px
    &.is-active
      color: $text
      font-weight: 600

.badge
  margin-left: 5px
  padding: 2px 6px
  border-radius: 3px
  +opensans
  font-size: 11px
  font-weight: 300
  line-height: 1
  text-transform: uppercase
  white-space: nowrap
  &_top
    background: rgba($main, .1)
    color: $main
  &_hot
    background: rgba(#ff0606, .07)
    color: #ff0606

.banner
  margin: 30px auto
  max-width: 240px
  &:first-child
    margin-top: 0
  img
    display: block
    width: 100%
    height: auto

.box
  position: relative
  border: 1px solid $borderLight
  &_main
    margin-bottom: 50px
    border-width: 3px
    border-radius: 3px
  &__in
    position: relative
    padding: 30px
    +r($xs)
      padding: 15px 10px
  + .box
    border-top: 0
  &_top
    border-bottom: 0
  .text
    margin-bottom: 15px
    &_no-margin
      margin-bottom: 0

.links-row
  margin: 20px -15px
  +r($md)
    margin: 0 -15px 20px -15px
  .link
    margin: 0 15px

.item-head
  position: relative
  margin: -3px 0 -5px
  padding-left: 23px
  .btn-favorite
    position: absolute
    top: 2px
    left: -6px
    +r($sm)
      left: 0
  .title
    margin: 0 0 11px
    +r($xs)
      font-size: 16px
  .meta
    +r($xs)
      font-size: 11px

.item-price
  color: #0e9845
  +neosans
  font-size: 28px
  font-weight: 400
  text-transform: uppercase
  +r($md)
    margin-left: 23px
    font-size: 25px
  +r($sm)
    margin-top: -10px
    font-size: 20px

.dots-row-cols
  column-count: 2
  column-gap: 36px
  +r($md)
    column-count: 1
    column-gap: 0

.dots-row
  position: relative
  margin: 0 -2px 5px
  color: $text
  font-size: 14px
  font-weight: 300
  +r($xs)
    font-size: 12px
  &:before
    content: ''
    position: absolute
    bottom: 4px
    left: 0
    right: 0
    height: 0
    border-top: 1px dashed $borderLight
  &__in
    display: table
    width: 100%
  &__cell
    display: table-cell
    vertical-align: bottom
    &:last-child
      padding-left: 5px
      text-align: right
  &__title,
  &__value
    position: relative
    z-index: 2
    padding: 0 2px
    background: #fff
  &__value
    color: #314966
    font-weight: 600

.map
  height: 350px
  +r($xs)
    height: 280px
  &__in
    width: 100%
    height: 100%
    > ymaps
      border-radius: 5px
      overflow: hidden
  &_small
    height: 172px
    +r($xs)
      height: 172px

.tel
  margin: 0 0 10px
  padding: 17px 10px
  border-radius: 4px
  background-color: $bg
  text-align: center
  &__number
    color: $text
    +neosans
    font-size: 22px
    font-weight: 400

.requisites
  margin: 20px 0
  font-size: 14px
  &__item
    margin-bottom: 18px
    &:last-child
      margin-bottom: 0
  &__title
    margin-bottom: 5px
    color: $text
    font-weight: 300
  &__info
    color: #314966
    font-weight: 600

.card-about
  &__img
    margin-bottom: 22px
    padding: 0 15px
    img
      display: block
      max-width: 100%
      margin: 0 auto
  &__text
    margin: 0 0 6px
    font-size: 13px
    font-weight: 300
    line-height: 1.85

.categories-scroll
  position: relative

.categories-wrap
  display: table
  width: 100%
  min-width: 800px
  top:
  border-radius: 4px
  border: 1px solid #ececec
  .categories
    display: table-cell
    vertical-align: top
    width: 25%

.categories
  border-left: 1px solid $borderLight
  padding: 7px 0
  &:first-child
    border: 0
  .subtitle
    margin: 0
    padding: 7px 20px

.radio-list
  color: #314966
  font-size: 13px
  font-weight: 400
  line-height: 2
  &__label
    cursor: pointer
    input
      display: none
      &:checked
        ~ span
          background: #feeede
    span
      display: block
      padding: 7px 20px
      line-height: 1

.switch-col
  +r($md)
    margin-bottom: 30px

.map-component
  margin: 10px 0
  position: relative
  &__holder
    height: 90px
    border-radius: 5px
    border: 1px solid $borderLight
    background-color: $bg
    img
      display: block
      width: 100%
      height: 100%
      object-fit: cover
    .link
      position: absolute
      left: 50%
      top: 50%
      white-space: nowrap
      transform: translate3d(-50%, -50%, 0)
      .fa
        margin-right: 3px
        font-size: 16px
        color: $main