.l-panel
  margin-bottom: 10px
  display: table
  width: 100%
  table-layout: fixed
  +r($md)
    display: block
  &__sidebar
    display: table-cell
    vertical-align: top
    width: 268px
    +r($lg)
      width: 200px
    +r($md)
      display: block
      width: 100%
  &__main
    display: table-cell
    vertical-align: top
    border: 1px solid $borderLight
    +r($md)
      display: block
  &__in
    padding: 30px
    +r($sm)
      padding: 20px
    +r($xxs)
      padding: 15px

.l-cols
  margin-bottom: 50px
  display: table
  width: 100%
  table-layout: fixed
  +r($md)
    display: block
  &__sidebar
    display: table-cell
    vertical-align: top
    width: 270px
    +r($md)
      display: none
  &__main
    display: table-cell
    vertical-align: top
    padding-right: 30px
    +r($md)
      display: block
      padding-right: 0

.l-layout
  display: table
  width: 100%
  table-layout: fixed
  +r($md)
    display: block
  &__main
    display: table-cell
    vertical-align: top
    margin-bottom: 20px
    +r($md)
      display: block
  &__sidebar
    display: table-cell
    vertical-align: top
    width: 300px
    +r($md)
      width: 100%
      .banner
        display: none
    .box
      border-left-width: 0
      +r($md)
        border-left-width: 1px

.l-layout_valign
  .l-layout__main,
  .l-layout__sidebar
    vertical-align: middle

.row
  margin: 0 -10px
  +clr
  > div
    float: left
    padding: 0 10px
  &_vertical
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap

.col-lg-6
  width: 50%

.col-lg-3
  width: 25%

.col-lg-9
  width: 75%

.col-md-6
  +r($md)
    width: 50%

.col-md-3
  +r($md)
    width: 25%

.col-md-9
  +r($md)
    width: 75%

.col-md-12
  +r($md)
    width: 100%

.col-sm-12
  +r($sm)
    width: 100%

.col-sm-8
  +r($sm)
    width: 66%

.col-sm-4
  +r($sm)
    width: 33%

.col-xs-12
  +r($xs)
    width: 100%