.menu-panel
  padding: 45px 0
  border-bottom: 1px solid #ececec
  background-color: $bg
  +r($xs)
    padding: 25px 0

.menu-wrap
  margin: 34px -15px -20px
  +clr

.menu-cell
  float: left
  width: 25%
  padding: 0 15px
  +r($mds)
    width: 33.3%
  +r($sm)
    width: 50%
  &:nth-child(3),
  &:nth-child(4),
  &:nth-child(7),
  &:nth-child(8),
  &:nth-child(11),
  &:nth-child(12)
    .drop-list
      left: auto
      right: 50%
      margin-right: 75px
      &:before
        right: -9px
        left: auto
        +arr(10,17,#fff,r)
  &:nth-child(3),
  &:nth-child(6),
  &:nth-child(9),
  &:nth-child(12)
    +r($mds)
      .drop-list
        left: auto
        right: 50%
        margin-right: 75px
        &:before
          right: -9px
          left: auto
          +arr(10,17,#fff,r)
  &:nth-child(4),
  &:nth-child(7),
  &:nth-child(8),
  &:nth-child(11)
    +r($mds)
      .drop-list
        left: 50%
        margin-left: 75px
        right: auto
        &:before
          right: auto
          left: -9px
          +arr(10,17,#fff,l)
  &:nth-child(2n)
    +r($sm)
      .drop-list
        left: auto
        right: 50%
        margin-right: 60px
        &:before
          right: -9px
          left: auto
          +arr(10,17,#fff,r)
    +r($xs)
      .drop-list
        right: 0
        top: 100%
        margin: 0
        &:before
          top: -9px
          right: 60px
          +arr(17,10,#fff,t)
  &:nth-child(2n+1)
    +r($sm)
      .drop-list
        left: 50%
        margin-left: 60px
        right: auto
        &:before
          right: auto
          left: -9px
          +arr(10,17,#fff,l)
    +r($xs)
      .drop-list
        left: 0
        top: 100%
        margin: 0
        &:before
          top: -9px
          left: 60px
          +arr(17,10,#fff,t)

.menu
  text-align: center
  &__icon
    margin: 0 auto 12px
    width: 70px
    height: 70px
    text-align: center
    line-height: 70px
    box-shadow: 0 3px 9px rgba(211, 211, 211, 0.4)
    border-radius: 50%
    background: #fff
    transition: box-shadow, background, .3s
    +r($sm)
      width: 60px
      height: 60px
      line-height: 60px
    .icon
      vertical-align: middle
      font-size: 29px
      fill: $main
      transition: fill .3s
      +r($sm)
        font-size: 25px
  &__title
    +neosans
    font-size: 14px
    font-weight: 400
    text-transform: uppercase
    +r($sm)
      font-size: 12px
  &__in
    position: relative
    display: inline-block
    padding: 17px 30px
    color: $dark
    &:hover
      //.drop-list
      //  opacity: 1
      //  visibility: visible
      .menu__icon
        background: $mainDark
        box-shadow: none
        .icon
          fill: #fff
    +r($sm)
      display: block
      padding: 17px 5px
    //&:hover
    //  .menu__icon
    //    background: $mainDark
    //    box-shadow: none
    //    .icon
    //      fill: #fff
    //.drop-list
    //  left: 50%
    //  margin-left: 70px
    //  top: 16px
    //  &:before
    //    content: ''
    //    position: absolute
    //    top: 26px
    //    left: -9px
    //    +arr(10,17,#fff,l)

.search
  margin: 0 -15px
  +r($sm)
    margin: 0 -5px 0
  &_small
    margin: 0 auto
    max-width: 570px
    +r($sm)
      margin: 0 auto
  &__in
    display: table
    width: 100%
    table-layout: fixed
    +r($mds)
      display: flex
      flex-direction: column
  &__category
    width: 300px
    +r($mds)
      display: block
      margin: 0 0 20px
      width: 50%
    +r($xxs)
      margin-bottom: 84px
      width: 100%
  &__cell
    display: table-cell
    padding: 0 15px
    vertical-align: top
    +r($mds)
      display: block
    +r($sm)
      padding: 0 5px
  &__query
    position: relative
  &__submit
    position: absolute
    right: 0
    top: 0
    height: 44px
    width: 110px
    text-align: center
    border-radius: 0 5px 5px 0
    background-color: #3e9ed3
    color: #fff
    +opensans
    font-size: 14px
    font-weight: 700
    transition: background .3s
    &:hover
      background: $link
    &:active
      background: $linkHover
    .fa
      font-size: 14px
      margin-right: 5px
    +r($xs)
      position: static
      display: block
      width: 100%
      margin-top: 20px
      border-radius: 5px
  &__location
    position: absolute
    right: 110px
    top: 5px
    width: 190px
    +r($mds)
      right: 0
      top: -64px
      width: calc(50% - 15px)
    +r($xxs)
      width: 100%
