@import ../../node_modules/select2/src/scss/core

select
  width: 100%

.select2
  &__icon
    display: inline-block
    vertical-align: middle
    width: 25px
    .icon
      fill: $main
      font-size: 20px
      vertical-align: middle
      &-auto
        font-size: 18px
      &-personal
        font-size: 19px
      &-home
        font-size: 16px
      &-pets
        font-size: 18px
      &-help
        font-size: 19px
  &__text
    display: inline-block
    vertical-align: middle

.select2-container--open
  .select2-selection
    &.select2-selection--single,
    &.select2-selection--multiple
      border-bottom: none
    &.select2-selection--single
      .select2-selection__arrow
        b
          +arr(7, 5, #cacaca, t)

.select2-selection
  &.select2-selection--single,
  &.select2-selection--multiple
    border-radius: 5px
    border: 1px solid $border
    background-color: #fff
    height: 44px
  &.select2-selection--single
    .select2-selection__rendered
      padding: 0 35px 0 25px
      line-height: 40px
      color: $text
      +opensans
      font-size: 15px
      font-weight: 400
      +r($xxs)
        padding-left: 10px
      .select2__icon
        vertical-align: top
        .icon
          position: relative
          top: -2px
    .select2-selection__arrow
      width: 35px
      bottom: 1px
      height: auto
      b
        left: auto
        top: 50%
        right: 20px
        +arr(7, 5, #cacaca, b)
  .select2__icon
    vertical-align: bottom

.select2-dropdown
  border-color: $border

.select2-results
  &__options
    padding-bottom: .5rem
    max-height: 300px !important
  &__option
    padding: 8px 15px
    color: $text
    +opensans
    font-size: 15px
    font-weight: 400
    line-height: 1
    +r($xs)
      padding: 8px 10px
    &--highlighted
      &[aria-selected]
        background: none !important
        color: $link !important
    &[aria-selected=true]
      background-color: $main !important
      color: #fff !important
      .select2__icon
        .icon
          fill: #fff

.select-category
  .select2-selection--single,
  .select2-selection--multiple
    border: 2px solid $main
    .select2-selection__rendered
      line-height: 38px
      padding-left: 15px
  .select2-dropdown
    border: 2px solid $main
    border-top: 0
  .select2-results
    &__options
      max-height: inherit !important
      +r($sm)
        max-height: 300px !important
    &__option
      white-space: nowrap
    .select2__text
      white-space: normal


.select-location
  .select2-selection--single,
  .select2-selection--multiple
    border: 0
    border-left: 1px solid $border
    height: 33px
    border-radius: 0
    +r($mds)
      border: 1px solid $border
      height: 44px
      border-radius: 5px
    .select2-selection__rendered
      padding-left: 20px
      line-height: 33px
      +r($mds)
        line-height: 44px
      +r($xxs)
        padding-left: 10px
  .select2__icon
    width: auto
    margin-right: 2px
    +r($mds)
      margin-right: 10px
    .fa
      color: #cacaca
      font-size: 16px
  .select2-dropdown
    margin-top: 5px
    +r($mds)
      margin-top: 0