$text: #333
$dark: #272727
$border: #d9d9d9
$borderLight: #ececec
$focus: #308cc8
$error: #ec9292
$bg: #f9f9f9
$link: #0080c6
$linkHover: lighten($link, 10%)
$btn: #3e9ed3
$btnHover: darken($btn, 5%)
$btnActive: darken($btn, 10%)

$tw: #3e9ed3
$fb: #395089
$vk: #4f75a7
$od: #de7f1f

$lg: 1100
$ipad: 1024
$md: 940
$mds: 860
$sm: 760
$xs: 640
$xxs: 480
$tiny: 360

$mainDark: #f68a1f
$main: #ff8000
$mainLight: #ffa300

=opensans
  font-family: 'Open Sans', Arial, -apple-system-body, 'Roboto', sans-serif

+font(NeoSansPro, NeoSansPro)

=neosans
  font-family: 'NeoSansPro', Arial, -apple-system-body, 'Roboto', sans-serif

=fa-icon
  display: inline-block
  font: normal normal normal 14px/1 FontAwesome
  font-size: inherit
  text-rendering: auto
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale