.stat
  border-bottom: 1px solid $border
  padding: 100px 0 90px
  +neosans
  font-weight: 400
  line-height: 1
  +r($md)
    padding: 50px 0 30px
  +r($xs)
    padding: 30px 0 0
  &__list
    margin: 0 -10px
    display: table
    width: calc(100% + 20px)
    table-layout: fixed
    +r($md)
      display: block
  &__item
    text-align: center
    display: table-cell
    white-space: nowrap
    padding: 0 1rem
    +text-overflow
    +r($md)
      display: block
      margin-bottom: 40px
    &:first-child
      text-align: left
      +r($md)
        text-align: center
    &:last-child
      text-align: right
      +r($md)
        text-align: center
  &__in
    display: inline-block
    text-align: center
  &__title
    margin-bottom: 5px
    color: $mainLight
    font-size: 60px
    +r($md)
      font-size: 40px
  &__info
    color: $dark
    font-size: 20px
