.top
  border-bottom: 1px solid #ececec
  background: $bg
  &__in
    position: relative
    display: table
    width: 100%
  &__left,
  &__right
    display: table-cell
    vertical-align: middle
    height: 50px
  &__left
    +r($xs)
      display: none
  &__right
    text-align: right
    +r($xs)
      height: 35px
  &__nav
    font-size: 0
    margin: 0 -1rem
    +r($md)
      opacity: 0
      visibility: hidden
      position: absolute
      right: 0
      top: 100%
      z-index: 11
      border: 1px solid $borderLight
      padding: 20px 0
      width: 280px
      background: $bg
      text-align: center
      transition: opacity .3s
      &.is-active
        opacity: 1
        visibility: visible
    &-item
      display: inline-block
      vertical-align: middle
      +r($md)
        display: block
    &-link
      display: block
      padding: 5px 10px
      color: $text
      font-size: 14px
      font-weight: 600
      transition: color .3s
      +r($md)
        padding: 10px 20px
      &:hover
        color: $link
  &__contacts
    display: inline-block
    margin-right: -5px
    vertical-align: middle
    +r($md)
      display: none
    //+r($xs)
    //  display: table
    //  width: calc(100% + 10px)
    //  margin: 0 -5px
    //  table-layout: fixed
    &-item
      display: block
      line-height: 1
      //+r($xs)
      //  display: table-cell
      //  vertical-align: middle
      //  text-align: left
      //  &:last-child
      //    text-align: right

    &-link
      display: inline-block
      padding: .3rem .5rem
      color: $text
      font-size: 12px
      font-weight: 400
      transition: color .3s
      &:hover
        color: $link

.burger
  display: none
  width: 35px
  height: 35px
  line-height: 1
  font-size: 0
  background: none
  +r($md)
    display: inline-block
  &.is-active
    i
      background: none
      &:before
        transform: translateY(8px) rotate(45deg)
      &:after
        transform: translateY(-8px) rotate(-45deg)

  i
    display: inline-block
    position: relative
    vertical-align: middle
    height: 2px
    width: 30px
    background: #000
    &:before,
    &:after
      content: ""
      position: absolute
      left: 0
      height: 2px
      background: #000
      width: 30px
      transition: transform .3s
    &:before
      top: -8px
    &:after
      bottom: -8px
