.link
  color: $link
  font-size: 14px
  font-weight: 400
  transition: color .3s
  &:hover
    color: $main
  &_bold
    font-weight: 600
  &_light
    font-weight: 300
  &_big
    font-size: 15px
  &_small
    font-size: 13px
  &_tiny
    font-size: 12px
  &_large
    font-size: 24px
  &_main
    color: $main
    &:hover
      color: $mainLight

.btn-add-wrap
  margin: 30px 0 5px
  text-align: center
  +r($xs)
    margin: 15px 0 5px

.btn-add
  display: inline-block
  vertical-align: middle
  padding: 12px 22px 11px 17px
  border-radius: 5px
  background: $main
  color: #fff
  font-size: 14px
  line-height: 1
  font-weight: 700
  transition: background .3s
  &:hover
    background: $mainLight
  &:active
    background: $mainDark
  .fa
    margin-right: 8px
    font-size: 17px
  span,
  .fa
    vertical-align: middle
  &_company
    background: #8f68b5
    &:hover
      background: darken(#8f68b5, 5%)
    &:active
      background: darken(#8f68b5, 10%)

.fieldset
  margin-bottom: 30px
  &:last-child
    margin-bottom: 5px
  .title_med
    margin: 0 0 16px

.field-info
  padding-top: 12px
  min-height: 44px
  color: $text
  +opensans
  font-size: 14px
  font-weight: 300
  strong
    font-weight: 600

.field
  display: block
  margin-bottom: 20px
  &_md
    margin-bottom: 0
    +r($md)
      margin-bottom: 20px
  &__row
    display: table
    margin: 0 -10px
    width: calc(100% + 20px)
    table-layout: fixed
  &__cell
    display: table-cell
    width: 50%
    padding: 0 10px
    &:last-child
      text-align: right
  &_inputs
    +r($sm)
      .field__row
        display: block
      .field__cell
        display: block
        margin-bottom: 16px
        width: 100%
  &_inline
    margin: 0 10px 0 0
    display: inline-block
    vertical-align: middle

.field-text
  vertical-align: middle
  color: $text
  +opensans
  font-size: 15px
  font-weight: 400

.input
  display: block
  border: 1px solid $border
  padding: 0 25px
  height: 44px
  width: 100%
  border-radius: 5px
  background-color: #fff
  color: $text
  +opensans
  font-size: 15px
  font-weight: 400
  transition: border, box-shadow, .3s
  +r($xxs)
    padding: 0 10px
  &:focus
    box-shadow: 0 0 5px rgba(48, 140, 200, 0.15)
    border-color: $focus
  &_textarea
    padding-top: 14px
    padding-bottom: 14px
    height: 172px
    resize: none

.btn-wrap
  text-align: center

.btn
  display: inline-block
  padding: 0 45px
  height: 44px
  min-width: 160px
  line-height: 44px
  border-radius: 4px
  background: $btn
  text-align: center
  color: #fff
  +opensans
  font-size: 14px
  font-weight: 700
  transition: background .3s
  +text-overflow
  +r($md)
    font-size: 12px
  +r($xs)
    padding: 0 15px
  .fa
    margin-right: 9px
  &:hover
    background: $btnHover
  &:active
    background: $btnActive
  &_narrow
    padding: 0 15px
    min-width: 128px
  &_fluid
    width: 100%
    padding: 0 10px
    min-width: inherit
  &_icon-sm
    .fa
      display: none
      font-size: 16px
    +r($sm)
      .fa
        display: inline-block
      span
        display: none
  &_circle
    padding: 0
    height: 44px
    width: 44px
    min-width: inherit
    border-radius: 50%
    overflow: visible
    .fa
      vertical-align: middle
      margin: 0
    .notification
      position: absolute
      left: -5px
      right: auto
      top: 2px
      bottom: auto

.btn-border
  display: inline-block
  border: 2px solid $borderLight
  height: 45px
  line-height: 41px
  color: #314966
  font-weight: 600
  text-align: center
  background: #fff
  border-radius: 4px
  transition: border, color, .3s
  &:hover
    border-color: $text
    color: $text
    .fa
      color: $text
  .fa
    margin-right: 8px
    color: $borderLight
    font-size: 17px
    transition: color, .3s
  &_fluid
    width: 100%

.soc
  text-align: center
  line-height: 1.1
  &_colored
    .soc__link
    padding: 5px 11px
    .fa-twitter
      color: $tw
    .fa-facebook-official
      color: $fb
    .fa-vk
      color: $vk
    .fa-odnoklassniki-square
      color: $od
    .soc__title
      font-size: 12px
      color: #9698a6
  &_small
    .soc__link
    padding: 5px
    font-size: 20px
    vertical-align: middle
    .soc__title
      font-size: 14px
      vertical-align: middle
  &_left
    text-align: left
  &__title
    color: $text
    font-size: 13px
    font-weight: 300
  &__link
    display: inline-block
    padding: 6px 10px
    font-size: 25px
    +r($md)
      padding: 5px
    &:hover
      .fa-twitter
        color: $tw
      .fa-facebook-official
        color: $fb
      .fa-vk
        color: $vk
      .fa-odnoklassniki-square
        color: $od
    .fa
      color: #cecece
      transition: color .3s

.switch-wrap
  .switch
    display: inline-block
    margin-right: 3rem
    &:last-child
      margin-right: 0

.switch
  display: block
  input
    display: none
    &:checked
      + .switch__text
        &:after
          display: block
  &__text
    position: relative
    display: block
    padding: 5px 0 5px 25px
    cursor: pointer
    +nosel
    color: $text
    font-size: 13px
    font-weight: 400
    &:before,
    &:after
      content: ''
      position: absolute
    &:before
      left: 0
      top: 5px
      border: 1px solid $border
      width: 17px
      height: 17px
      border-radius: 3px
    &:after
      display: none
      left: 3px
      top: 8px
      width: 11px
      height: 11px
      background: url(../img/check.svg)
      background-size: 11px 11px
  &_radio
    .switch__text
    &:before
      border-radius: 50%
    &:after
      left: 5px
      top: 10px
      width: 7px
      height: 7px
      background: $focus
      border-radius: 50%

.action
  display: table
  width: 100%
  table-layout: fixed
  &__input,
  &__btn
    display: table-cell
    vertical-align: top
    &:first-child
      .input,
      .btn
        border-radius: 5px 0 0 5px
      .input
        border-right: 0
    &:last-child
      .input,
      .btn
        border-radius: 0 5px 5px 0
      .input
        border-left: 0
  &__input
    width: 77%

.price
  font-size: 14px
  color: $text
  +text-overflow
  font-weight: 600
  .fa
    font-size: 12px
  &_big
    font-size: 16px
    .fa
      font-size: 14px


.meta
  color: #898a99
  font-size: 13px
  font-weight: 400
  a
    color: inherit
    transition: color .3s
    &:hover
      color: $main
  &_dark
    color: #3d3f57
  + .meta
    margin-left: 10px
  &_light
    color: #9698a6
  &_big
    font-size: 14px

.btn-favorite
  display: inline-block
  position: relative
  color: $mainDark
  font-size: 14px
  width: 16px
  height: 16px
  vertical-align: bottom
  &:after,
  &:before
    position: absolute
    left: 50%
    top: 50%
    transition: opacity .3s
    +fa-icon
    transform: translate3d(-50%, -50%, 0)
  &:after
    content: $fa-var-star-o
  &:before
    opacity: 0
    content: $fa-var-star
  &.is-active,
  &:hover
    &:after
      opacity: 0
    &:before
      opacity: 1

.upload-row
  +clr
  margin: -5px
  .upload-img
    float: left
    width: 11.7%
    +r($md)
      width: 16.6%
    +r($sm)
      width: 33%
    +r($xxs)
      width: 50%

.upload-img
  position: relative
  padding: 5px
  &__preview
    position: relative
    border-radius: 5px
    border: 1px solid $border
    height: 84px
    background-color: #fff
    cursor: pointer
    overflow: hidden
    transition: border .3s
    +r($sm)
      height: 100px
    &:hover
      border-color: $link
      .fa
        color: $link
    input
      position: absolute
      left: 0
      top: 0
      font-size: 200px
      opacity: 0
      visibility: hidden
    label
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      cursor: pointer
      +hide-text
  .fa
    position: absolute
    top: 50%
    left: 50%
    transform: translate3d(-50%, -50%, 0)
    color: #e5e5e5
    font-size: 24px
    transition: color .3s

.drop-list
  opacity: 0
  visibility: hidden
  position: absolute
  top: 100%
  left: 0
  z-index: 2
  padding: 15px 0
  min-width: 200px
  filter: drop-shadow(0 3px 9px rgba(211, 211, 211, 0.4))
  border-radius: 4px
  background-color: #fff
  text-align: left
  transition: opacity .3s
  +r($xs)
    padding: 10px 0
  &:before
    content: ''
    position: absolute
    left: 26px
    top: -9px
    +arr(17, 10, #fff, t)

  &__item
    position: relative
  &__link
    display: block
    padding: 5px 30px
    font-size: 15px
    font-weight: 400
    color: $text
    transition: color .3s
    +r($xs)
      padding: 5px 20px
      font-size: 13px
    &:hover
      color: $link
