---
title: Sitemap
bottom: false
---
{% extends "layouts/_layout.html" %}

{% block content %}

<div class="l-center">
    <div class="error">
        <div class="error__in">
            <div class="error__status">Ошибка 404</div>
            <div class="title">Упс! Такой страницы не существует</div>
            <div class="text">Наверное, вы ошиблись при наборе адреса или перешли по неверной ссылке. <br>
                Перейдите на <a href="#">главную страницу</a> или на <a href="#">страницу объявлений</a>.
            </div>
            <div class="search search_small">
                <div class="search__query">
                    <input class="input" type="text" placeholder="Поиск объявлений">
                    <button class="search__submit" type="submit"><i class="fa fa-search"></i>Найти</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
