---
title: Index page
bottom: false
---
{% extends "layouts/_layout.html" %}

{% block content %}
<div class="l-center">
    <h1 class="title">Подать объявление</h1>
    <form action="#">
        <div class="box box_main">
            <div class="box__in">
                <div class="fieldset">
                    <div class="title title_med">Выберите категорию</div>
                    <div class="categories-scroll js-scrollbar">
                        <div class="categories-wrap">
                        <div class="categories">
                            <div class="subtitle">Категория</div>
                            <ul class="radio-list">
                                <li class="radio-list__item">
                                    <label class="radio-list__label">
                                        <input type="radio" name="level1">
                                        <span>Транспорт</span>
                                    </label>
                                </li>
                                <li class="radio-list__item">
                                    <label class="radio-list__label">
                                        <input type="radio" name="level1">
                                        <span>Работа</span>
                                    </label>
                                </li>
                                <li class="radio-list__item">
                                    <label class="radio-list__label">
                                        <input type="radio" name="level1" checked>
                                        <span>Недвижимость</span>
                                    </label>
                                </li>
                                <li class="radio-list__item">
                                    <label class="radio-list__label">
                                        <input type="radio" name="level1">
                                        <span>Услуги</span>
                                    </label>
                                </li>
                                <li class="radio-list__item">
                                    <label class="radio-list__label">
                                        <input type="radio" name="level1">
                                        <span>Личные вещи</span>
                                    </label>
                                </li>
                                <li class="radio-list__item">
                                    <label class="radio-list__label">
                                        <input type="radio" name="level1">
                                        <span>Для дома и дачи</span>
                                    </label>
                                </li>
                                <li class="radio-list__item">
                                    <label class="radio-list__label">
                                        <input type="radio" name="level1">
                                        <span>Бытовая техника</span>
                                    </label>
                                </li>
                                <li class="radio-list__item">
                                    <label class="radio-list__label">
                                        <input type="radio" name="level1">
                                        <span>Хобби и отдых</span>
                                    </label>
                                </li>
                                <li class="radio-list__item">
                                    <label class="radio-list__label">
                                        <input type="radio" name="level1">
                                        <span>Животные</span>
                                    </label>
                                </li>
                                <li class="radio-list__item">
                                    <label class="radio-list__label">
                                        <input type="radio" name="level1">
                                        <span>Для бизнеса</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <div class="categories">
                            <div class="subtitle">Недвижимость</div>
                            <ul class="radio-list">
                                <li class="radio-list__item">
                                    <label class="radio-list__label">
                                        <input type="radio" name="level2">
                                        <span>Квартиры</span>
                                    </label>
                                </li>
                                <li class="radio-list__item">
                                    <label class="radio-list__label">
                                        <input type="radio" name="level2">
                                        <span>Комнаты</span>
                                    </label>
                                </li>
                                <li class="radio-list__item">
                                    <label class="radio-list__label">
                                        <input type="radio" name="level2" checked>
                                        <span>Дома, дачи, коттеджи</span>
                                    </label>
                                </li>
                                <li class="radio-list__item">
                                    <label class="radio-list__label">
                                        <input type="radio" name="level2">
                                        <span>Земельные участки</span>
                                    </label>
                                </li>
                                <li class="radio-list__item">
                                    <label class="radio-list__label">
                                        <input type="radio" name="level2">
                                        <span>Гаражи и машиноместа</span>
                                    </label>
                                </li>
                                <li class="radio-list__item">
                                    <label class="radio-list__label">
                                        <input type="radio" name="level2">
                                        <span>Коммерческая недвижимость</span>
                                    </label>
                                </li>
                                <li class="radio-list__item">
                                    <label class="radio-list__label">
                                        <input type="radio" name="level2">
                                        <span>Недвижимость за рубежо</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <div class="categories">
                            <div class="subtitle">Тип объявления</div>
                            <ul class="radio-list">
                                <li class="radio-list__item">
                                    <label class="radio-list__label">
                                        <input type="radio" name="level3">
                                        <span>Продам</span>
                                    </label>
                                </li>
                                <li class="radio-list__item">
                                    <label class="radio-list__label">
                                        <input type="radio" name="level3">
                                        <span>Сдам</span>
                                    </label>
                                </li>
                                <li class="radio-list__item">
                                    <label class="radio-list__label">
                                        <input type="radio" name="level3">
                                        <span>Куплю</span>
                                    </label>
                                </li>
                                <li class="radio-list__item">
                                    <label class="radio-list__label">
                                        <input type="radio" name="level3" checked>
                                        <span>Сниму</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <div class="categories">
                            <div class="subtitle">Срок аренды</div>
                            <ul class="radio-list">
                                <li class="radio-list__item">
                                    <label class="radio-list__label">
                                        <input type="radio" name="level4" checked>
                                        <span>На длительный срок</span>
                                    </label>
                                </li>
                                <li class="radio-list__item">
                                    <label class="radio-list__label">
                                        <input type="radio" name="level4">
                                        <span>Посуточно</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="fieldset">
                    <div class="title title_med">Объявлении от имени</div>
                    <div class="field">
                        <div class="switch-wrap">
                            <label class="switch switch_radio">
                                <input type="radio" name="type" checked>
                                <span class="switch__text">Компания «Юнистрой»</span>
                            </label>
                            <label class="switch switch_radio">
                                <input type="radio" name="type">
                                <span class="switch__text">Леонтьев Михаил Юрьевич</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="fieldset">
                    <div class="title title_med">Местоположение</div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-12">
                            <div class="field">
                                <label class="select js-select">
                                    <select name="city" data-placeholder="Город" style="width: 100%">
                                        <option value=""></option>
                                        <option value="Ялта">Ялта</option>
                                        <option value="Ялта">Ялта</option>
                                        <option value="Ялта">Ялта</option>
                                    </select>
                                </label>
                            </div>
                            <div class="field">
                                <label class="select js-select">
                                    <select name="city" data-placeholder="Метро" style="width: 100%">
                                        <option value=""></option>
                                        <option value="Метро">Метро</option>
                                        <option value="Метро">Метро</option>
                                        <option value="Метро">Метро</option>
                                    </select>
                                </label>
                            </div>
                            <label class="field">
                                <input class="input" type="text" placeholder="Например: ул. Мая, д. 15">
                            </label>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <script src="https://api-maps.yandex.ru/2.1/?lang=tr_TR" type="text/javascript"></script>
                            <script type="text/javascript">
                                ymaps.ready(init);
                                var myMap,
                                        myPlacemark;

                                function init(){
                                    myMap = new ymaps.Map("map", {
                                        center: [55.76, 37.64],
                                        zoom: 12,
                                        controls: ['zoomControl']
                                    });

                                    myPlacemark = new ymaps.Placemark([55.76, 37.64], {
                                        hintContent: 'Москва!',
                                        balloonContent: 'Столица России'
                                    });

                                    myMap.geoObjects.add(myPlacemark);
                                }
                            </script>
                            <div class="map map_small">
                                <div class="map__in" id="map"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fieldset">
                    <div class="title title_med">Параметры</div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-12">
                            <div class="row">
                                <div class="col-lg-6 col-md-12">
                                    <div class="field field_md">
                                        <div class="select js-select">
                                            <select name="city" data-placeholder="Количество комнат" style="width: 100%">
                                                <option value=""></option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5+</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <div class="field">
                                        <div class="select js-select">
                                            <select name="city" data-placeholder="Этаж" style="width: 100%">
                                                <option value=""></option>
                                                <option value="1-5">1-5</option>
                                                <option value="5-10">5-10</option>
                                                <option value="10-15">10-15</option>
                                                <option value="15-20">15-20</option>
                                                <option value="25-30">25-30</option>
                                                <option value="35-40">35-40</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">

                        </div>
                    </div>
                </div>
                <div class="fieldset">
                    <div class="title title_med">Доп. параметры</div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-xs-12">
                            <div class="switch-col">
                                <div class="subtitle">Мультимедия</div>
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="switch__text">Wi-Fi</span>
                                </label>
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="switch__text">Телевизор</span>
                                </label>
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="switch__text">Кабельное / цифровое ТВ</span>
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-xs-12">
                            <div class="switch-col">
                                <div class="subtitle">Комфорт</div>
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="switch__text">Кондиционер</span>
                                </label>
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="switch__text">Камин</span>
                                </label>
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="switch__text">Балкон / лоджия</span>
                                </label>
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="switch__text">Парковочное место</span>
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-xs-12">
                            <div class="switch-col">
                                <div class="subtitle">Бытовая техника</div>
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="switch__text">Плита</span>
                                </label>
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="switch__text">Микроволновка</span>
                                </label>
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="switch__text">Холодильник</span>
                                </label>
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="switch__text">Стиральная машина</span>
                                </label>
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="switch__text">Фен</span>
                                </label>
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="switch__text">Утюг</span>
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-xs-12">
                            <div class="switch-col">
                                <div class="subtitle">Дополнительно</div>
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="switch__text">Можно с питомцами</span>
                                </label>
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="switch__text">Можно с детьми</span>
                                </label>
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="switch__text">Можно для мероприятий</span>
                                </label>
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="switch__text">Можно курить</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fieldset">
                    <div class="field">
                        <div class="row">
                            <div class="col-lg-9 col-sm-12">
                                <label class="field">
                                    <input class="input" type="text" placeholder="Название объявления">
                                </label>
                            </div>
                            <div class="col-lg-3 col-sm-12">
                                <div class="field-info"><strong>120</strong> символов</div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="row">
                            <div class="col-lg-9 col-sm-12">
                                <label class="field">
                                    <textarea class="input input_textarea" placeholder="Описание объявления"></textarea>
                                </label>
                            </div>
                            <div class="col-lg-3 col-sm-12">
                                <div class="field-info">Подробно опишите желаемую
                                    квартиру. Не указывайте
                                    в описании телефон и e-mail
                                    для этого есть отдельные
                                    поля</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fieldset">
                    <div class="field">
                        <div class="row">
                            <div class="col-lg-6 col-sm-8">
                                <label class="field">
                                    <input class="input" type="number" placeholder="Арендная плата">
                                </label>
                            </div>
                            <div class="col-lg-6 col-sm-4">
                                <div class="field-info">Р в месяц</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fieldset">
                    <div class="title title_med">Фотографии</div>
                    <div class="upload-row">
                        <div class="upload-img">
                            <div class="upload-img__preview js-image-preview">
                                <label for="image1" class="js-image-label"></label>
                                <input type="file" name="image" class="js-image-input" id="image1" />
                                <i class="fa fa-plus-circle"></i>
                            </div>
                        </div>
                        <div class="upload-img">
                            <div class="upload-img__preview js-image-preview">
                                <label for="image2" class="js-image-label"></label>
                                <input type="file" name="image" class="js-image-input" id="image2" />
                                <i class="fa fa-plus-circle"></i>
                            </div>
                        </div>
                        <div class="upload-img">
                            <div class="upload-img__preview js-image-preview">
                                <label for="image3" class="js-image-label"></label>
                                <input type="file" name="image" class="js-image-input" id="image3" />
                                <i class="fa fa-plus-circle"></i>
                            </div>
                        </div>
                        <div class="upload-img">
                            <div class="upload-img__preview js-image-preview">
                                <label for="image4" class="js-image-label"></label>
                                <input type="file" name="image" class="js-image-input" id="image4" />
                                <i class="fa fa-plus-circle"></i>
                            </div>
                        </div>
                        <div class="upload-img">
                            <div class="upload-img__preview js-image-preview">
                                <label for="image5" class="js-image-label"></label>
                                <input type="file" name="image" class="js-image-input" id="image5" />
                                <i class="fa fa-plus-circle"></i>
                            </div>
                        </div>
                        <div class="upload-img">
                            <div class="upload-img__preview js-image-preview">
                                <label for="image6" class="js-image-label"></label>
                                <input type="file" name="image" class="js-image-input" id="image6" />
                                <i class="fa fa-plus-circle"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fieldset">
                    <div class="title title_med">Контактные данные</div>
                    <div class="row">
                        <div class="col-lg-6 col-xs-12">
                            <label class="field">
                                <input class="input" type="text" placeholder="Название фирмы" value="Sisters" readonly>
                            </label>
                            <div class="row">
                                <div class="col-lg-6 col-md-12">
                                    <label class="field">
                                        <input class="input" type="tel" placeholder="Телефон" value="085 556 556 556" readonly>
                                    </label>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <label class="field">
                                        <input class="input" type="email" value="email@email.com" placeholder="Эл.почта" readonly>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xs-12">
                            <label class="field">
                                <input class="input" type="text" placeholder="Контактное лицо" value="Владимир" readonly>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="fieldset">
                    <div class="row row_vertical">
                        <div class="col-lg-6 col-md-12">
                            <div class="text text_no-margin">
                                Ваше объявление будет размещено на 30 дней <br>
                                Все объявления должны подаваться в соответствии с <a href="#">правилами Diols</a> <br>
                                Не предлагайте <a href="#">запрещенные товары и услуги</a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="text-right">
                                <button class="btn" type="submit">Продолжить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}
