---
title: Ads item
bottom: false
---
{% extends "layouts/_layout.html" %}

{% block content %}
<div class="menu-panel">
    {% include "partials/_search.html" %}
</div>
<div class="l-center">
    <div class="l-layout l-layout_valign">
        <div class="l-layout__main">
            <div class="page-nav page-nav_width">
                <div class="page-nav__cell">
                    <ul class="crumbs crumbs_new">
                        <li class="crumbs__item">
                            <a class="crumbs__link" href="#">Все объявления в Симферополе</a>
                        </li>
                        <li class="crumbs__item">
                            <a class="crumbs__link" href="#">Недвижимость</a>
                        </li>
                        <li class="crumbs__item">
                            <a class="crumbs__link" href="#">Квартиры</a>
                        </li>
                        <li class="crumbs__item">
                            <a class="crumbs__link" href="#">Сдам</a>
                        </li>
                        <li class="crumbs__item">
                            <a class="crumbs__link" href="#">На длительный срок</a>
                        </li>
                        <li class="crumbs__item">
                            <a class="crumbs__link" href="#">Студии</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="l-layout__sidebar">
            <div class="text-right links-row">
                <a href="#" class="link link_small">К результатам</a>
                <a href="#" class="link link_small">Следующее объявление</a>
            </div>
        </div>
    </div>
    <div class="box box_top">
        <div class="l-layout l-layout_valign">
            <div class="l-layout__main">
                <div class="box__in">
                    <div class="item-head">
                        <a href="#" class="btn-favorite"></a>
                        <h1 class="title title_med">Продается квартира в хорошем состоянии на берегу моря</h1>
                        <div class="meta-goup">
                            <span class="meta">Сегодня в 22:35</span>
                            <span class="meta">56 просмотров</span>
                            <span class="meta">№5925709</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="l-layout__sidebar">
                <div class="box__in">
                    <div class="text-center">
                        <div class="item-price">3 300 000 <i class="fa fa-rub"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="l-layout">
        <div class="l-layout__main">
            <div class="box">
                <div class="box__in">
                    <div class="gallery">
                        <div class="fotorama js-fotorama">
                            <a href="./img/slide1.jpg">
                                <img src="./img/slide1_thumb.jpg" width="95" height="65" alt="img">
                            </a>
                            <a href="./img/slide1.jpg">
                                <img src="./img/slide1_thumb.jpg" width="95" height="65" alt="img">
                            </a>
                            <a href="./img/slide1.jpg">
                                <img src="./img/slide1_thumb.jpg" width="95" height="65" alt="img">
                            </a>
                            <a href="./img/slide1.jpg">
                                <img src="./img/slide1_thumb.jpg" width="95" height="65" alt="img">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__in">
                    <div class="dots-row-cols">
                        <div class="dots-row">
                            <div class="dots-row__in">
                                <div class="dots-row__cell">
                                    <span class="dots-row__title">Образование</span>
                                </div>
                                <div class="dots-row__cell">
                                    <strong class="dots-row__value">Незаконченное высшее</strong>
                                </div>
                            </div>
                        </div>
                        <div class="dots-row">
                            <div class="dots-row__in">
                                <div class="dots-row__cell">
                                    <span class="dots-row__title">Образование</span>
                                </div>
                                <div class="dots-row__cell">
                                    <strong class="dots-row__value">Незаконченное высшее</strong>
                                </div>
                            </div>
                        </div>
                        <div class="dots-row">
                            <div class="dots-row__in">
                                <div class="dots-row__cell">
                                    <span class="dots-row__title">Образование</span>
                                </div>
                                <div class="dots-row__cell">
                                    <strong class="dots-row__value">Незаконченное высшее</strong>
                                </div>
                            </div>
                        </div>
                        <div class="dots-row">
                            <div class="dots-row__in">
                                <div class="dots-row__cell">
                                    <span class="dots-row__title">Образование</span>
                                </div>
                                <div class="dots-row__cell">
                                    <strong class="dots-row__value">Незаконченное высшее</strong>
                                </div>
                            </div>
                        </div>
                        <div class="dots-row">
                            <div class="dots-row__in">
                                <div class="dots-row__cell">
                                    <span class="dots-row__title">Образование</span>
                                </div>
                                <div class="dots-row__cell">
                                    <strong class="dots-row__value">Незаконченное высшее</strong>
                                </div>
                            </div>
                        </div>
                        <div class="dots-row">
                            <div class="dots-row__in">
                                <div class="dots-row__cell">
                                    <span class="dots-row__title">Образование</span>
                                </div>
                                <div class="dots-row__cell">
                                    <strong class="dots-row__value">Незаконченное высшее</strong>
                                </div>
                            </div>
                        </div>
                        <div class="dots-row">
                            <div class="dots-row__in">
                                <div class="dots-row__cell">
                                    <span class="dots-row__title">Образование</span>
                                </div>
                                <div class="dots-row__cell">
                                    <strong class="dots-row__value">Незаконченное высшее</strong>
                                </div>
                            </div>
                        </div>
                        <div class="dots-row">
                            <div class="dots-row__in">
                                <div class="dots-row__cell">
                                    <span class="dots-row__title">Образование</span>
                                </div>
                                <div class="dots-row__cell">
                                    <strong class="dots-row__value">Незаконченное высшее</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__in">
                    <script src="https://api-maps.yandex.ru/2.1/?lang=tr_TR" type="text/javascript"></script>
                    <script type="text/javascript">
                        ymaps.ready(init);
                        var myMap,
                                myPlacemark;

                        function init(){
                            myMap = new ymaps.Map("map", {
                                center: [55.76, 37.64],
                                zoom: 12,
                                controls: ['zoomControl']
                            });

                            myPlacemark = new ymaps.Placemark([55.76, 37.64], {
                                hintContent: 'Москва!',
                                balloonContent: 'Столица России'
                            });

                            myMap.geoObjects.add(myPlacemark);
                        }
                    </script>
                    <div class="map">
                        <div class="map__in" id="map"></div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__in">
                    <div class="text text_big">
                        <p>В соответствии с настоящим Договором Исполнитель обязуется оказывать за счет Абонента  (абонентская плата)
                            и от его имени услуги по поиску нанимателей жилого помещения, далее именуемых «Наниматель», на объекты
                            недвижимости (далее – Объекты) и иные услуги, перечисленные в Приложении №1 «Перечень услуг»
                            к настоящему Договору, а Абонент обязуется оплатить услуги Исполнителя в порядке, в сроки и на условиях,
                            определённых настоящим договором.</p>
                    </div>
                    <div class="soc soc_colored soc_small soc_left">
                        <span class="soc__title">Поделиться</span>
                        <a href="#" class="soc__link"> <i class="fa fa-twitter"></i> </a>
                        <a href="#" class="soc__link"> <i class="fa fa-facebook-official"></i> </a>
                        <a href="#" class="soc__link"> <i class="fa fa-vk"></i> </a>
                        <a href="#" class="soc__link"> <i class="fa fa-odnoklassniki-square"></i> </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="l-layout__sidebar">
            <div class="box">
                <div class="box__in">
                    <div class="tel">
                        <div class="tel__number">8 987 332 ** **</div>
                        <a href="#" class="link link_small">Показать номер</a>
                    </div>
                    <a href="#" class="btn-border btn-border_fluid">
                        <i class="fa fa-comments"></i>Написать сообщение
                    </a>
                    <ul class="requisites">
                        <li class="requisites__item">
                            <div class="requisites__title">Компания</div>
                            <a href="#" class="link link_bold">Продажа техники «Sisters»</a>
                            <div class="meta">На Diols с мая 2015</div>
                        </li>
                        <li class="requisites__item">
                            <div class="requisites__title">Контактное лицо</div>
                            <div class="requisites__info">Болтов Станислав</div>
                        </li>
                        <li class="requisites__item">
                            <div class="requisites__title">Адрес</div>
                            <div class="requisites__info">Керч, ул. Мира, 15</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="box">
                <div class="box__in">
                    <div class="card-about">
                        <div class="card-about__img">
                            <img src="./img/sisters.png" width="202" height="33" alt="img">
                        </div>
                        <div class="card-about__text">В соответствии с настоящим
                            Договором Исполнитель обязуется
                            оказывать за счет Абонента
                            (абонентская плата) и от его имени
                            услуги по поиску нанимателей жилого
                            помещения, далее именуемых.</div>
                        <a href="#" class="link">65 объявлений</a>
                    </div>
                </div>
            </div>
            <div class="banner">
                <a href="#">
                    <img src="./img/banner.jpg" alt="banner">
                </a>
            </div>
        </div>
    </div>
    <div class="title title_mt title_left">Похожие объявления компании <a href="#" class="link link_large">«Sisters»</a></div>
    <div class="items-wrap">
        <div class="item-cell">
            <div class="item">
                <div class="item__img">
                    <a href="#">
                        <img src="./img/item.jpg" alt="img" data-cover>
                    </a>
                </div>
                <div class="item__main">
                    <div class="item__head">
                        <a href="#" class="link link_big">Продается квартира</a>
                    </div>
                    <div class="item__row">
                        <div class="item__cell">
                            <div class="item__info">Симферополь</div>
                        </div>
                        <div class="item__cell item__price">
                            <div class="price">3 300 000 <i class="fa fa-rub"></i></div>
                        </div>
                    </div>
                    <div class="item__row">
                        <div class="item__cell">
                            <div class="meta">
                                <a href="#">Квартиры</a>
                            </div>
                        </div>
                        <div class="item__cell">
                            <a href="#" class="btn-favorite"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item-cell">
            <div class="item">
                <div class="item__img">
                    <a href="#">
                        <img src="./img/item.jpg" alt="img" data-cover>
                    </a>
                </div>
                <div class="item__main">
                    <div class="item__head">
                        <a href="#" class="link link_big">Продается квартира</a>
                    </div>
                    <div class="item__row">
                        <div class="item__cell">
                            <div class="item__info">Симферополь</div>
                        </div>
                        <div class="item__cell item__price">
                            <div class="price">3 300 000 <i class="fa fa-rub"></i></div>
                        </div>
                    </div>
                    <div class="item__row">
                        <div class="item__cell">
                            <div class="meta">
                                <a href="#">Квартиры</a>
                            </div>
                        </div>
                        <div class="item__cell">
                            <a href="#" class="btn-favorite"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item-cell">
            <div class="item">
                <div class="item__img">
                    <a href="#">
                        <img src="./img/item.jpg" alt="img" data-cover>
                    </a>
                </div>
                <div class="item__main">
                    <div class="item__head">
                        <a href="#" class="link link_big">Продается квартира</a>
                    </div>
                    <div class="item__row">
                        <div class="item__cell">
                            <div class="item__info">Симферополь</div>
                        </div>
                        <div class="item__cell item__price">
                            <div class="price">3 300 000 <i class="fa fa-rub"></i></div>
                        </div>
                    </div>
                    <div class="item__row">
                        <div class="item__cell">
                            <div class="meta">
                                <a href="#">Квартиры</a>
                            </div>
                        </div>
                        <div class="item__cell">
                            <a href="#" class="btn-favorite"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item-cell">
            <div class="item">
                <div class="item__img">
                    <a href="#">
                        <img src="./img/item.jpg" alt="img" data-cover>
                    </a>
                </div>
                <div class="item__main">
                    <div class="item__head">
                        <a href="#" class="link link_big">Продается квартира</a>
                    </div>
                    <div class="item__row">
                        <div class="item__cell">
                            <div class="item__info">Симферополь</div>
                        </div>
                        <div class="item__cell item__price">
                            <div class="price">3 300 000 <i class="fa fa-rub"></i></div>
                        </div>
                    </div>
                    <div class="item__row">
                        <div class="item__cell">
                            <div class="meta">
                                <a href="#">Квартиры</a>
                            </div>
                        </div>
                        <div class="item__cell">
                            <a href="#" class="btn-favorite"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
