---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
<div class="menu-panel">
    {% include "partials/_search.html" %}
</div>
<div class="l-center">
    <div class="l-cols">
        <div class="l-cols__main">
            <div class="page-nav page-nav_width">
                <div class="page-nav__cell">
                    <ul class="crumbs">
                        <li class="crumbs__item">
                            <a class="crumbs__link" href="#">Все объявления в Симферополе</a>
                        </li>
                        <li class="crumbs__item">
                            Недвижимость <span class="meta">2 342 554</span>
                        </li>
                    </ul>
                    <div class="page-nav__cols">
                        <div class="page-nav__link">
                            <a class="link link_small" href="#">Недвижимость</a>
                            <span class="meta">1 260 995</span>
                        </div>
                        <div class="page-nav__link">
                            <a class="link link_small" href="#">Транспорт</a>
                            <span class="meta">60 995</span>
                        </div>
                        <div class="page-nav__link">
                            <a class="link link_small" href="#">Услуги</a>
                            <span class="meta">7 995</span>
                        </div>
                        <div class="page-nav__link">
                            <a class="link link_small" href="#">Личные вещи</a>
                            <span class="meta">260 995</span>
                        </div>
                        <div class="page-nav__link">
                            <a class="link link_small" href="#">Животные</a>
                            <span class="meta">100 260 995</span>
                        </div>
                        <div class="page-nav__link">
                            <a class="link link_small" href="#">Работа</a>
                            <span class="meta">995</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="l-cols__sidebar"></div>
    </div>
    <div class="l-cols">
        <div class="l-cols__main">
            <div class="filter">
                <div class="filter__cell">
                    <div class="filter__select">
                        <div class="select js-select">
                            <select>
                                <option value="all">Все</option>
                                <option value="personal">Частные</option>
                                <option value="business">Бизнес</option>
                            </select>
                        </div>
                    </div>
                    <div class="filter__links">
                        <a href="#" class="link link_small link_light is-active">Все</a>
                        <a href="#" class="link link_small link_light">Частные</a>
                        <a href="#" class="link link_small link_light">Бизнес</a>
                    </div>
                </div>
                <div class="filter__cell filter__price">
                    <div class="filter__select">
                        <div class="select js-select">
                            <select>
                                <option value="rub">Р</option>
                                <option value="usd">$</option>
                                <option value="eur">€</option>
                            </select>
                        </div>
                    </div>
                    <div class="filter__links">
                        <span>Валюта:</span>
                        <a href="#" class="link link_small link_light is-active"><i class="fa fa-rub"></i></a>
                        <a href="#" class="link link_small link_light">$</a>
                        <a href="#" class="link link_small link_light">€</a>
                    </div>
                </div>
                <div class="filter__cell">
                    <div class="filter__select">
                        <div class="select js-select">
                            <select>
                                <option value="date">По дате</option>
                                <option value="priceLow">Дешевле</option>
                                <option value="priceHigh">Дороже</option>
                            </select>
                        </div>
                    </div>
                    <div class="filter__links">
                        <span>Сортировать:</span>
                        <a href="#" class="link link_small link_light is-active">По дате</a>
                        <a href="#" class="link link_small link_light">Дешевле</a>
                        <a href="#" class="link link_small link_light">Дороже</a>
                    </div>
                </div>
                <div class="filter__cell filter__view">
                    <a href="#"><i class="fa fa-th"></i></a>
                    <a href="#" class="is-active"><i class="fa fa-th-list"></i></a>
                </div>
            </div>
            {% include "partials/_map.html" %}
            <div class="visible-md">
                <div class="title title_med title_left title_no-margin">VIP-объявления</div>
                <div class="items-wrap-inline">
                    <div class="item-cell-inline">
                        <div class="item item_inline">
                            <div class="item__in">
                                <div class="item__img">
                                    <a href="#">
                                        <img src="./img/item.jpg" alt="img" data-cover>
                                    </a>
                                </div>
                                <div class="item__main">
                                    <div class="item__row">
                                        <div class="item__cell">
                                            <div class="meta">Сегодня 14:35</div>
                                        </div>
                                        <div class="item__cell">
                                            {{mixins.icon('vip')}}
                                        </div>
                                    </div>
                                    <div class="item__row item__block">
                                        <div class="item__cell">
                                            <a href="#" class="btn-favorite"></a>
                                        </div>
                                        <div class="item__cell">
                                            <div class="item__title">
                                                <a href="#" class="link link_big">Продается квартира в хорошем состоянии на берегу белого моря <span class="badge badge_top">VIP</span></a>
                                            </div>
                                        </div>
                                        <div class="item__cell item__price">
                                            <div class="price price_big">3 300 000 <i class="fa fa-rub"></i></div>
                                        </div>
                                    </div>
                                    <div class="item__row">
                                        <div class="item__cell">
                                            <span class="meta meta_dark">Керчь, ул. Мая, 23</span>
                                            <span class="meta">
                                                <a href="#">Квартиры</a>
                                            </span>
                                        </div>
                                        <div class="item__cell">
                                            <div class="item__links">
                                                <a class="link link_tiny" href="#">Агентство недвижимости ТвойДом</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item-cell-inline">
                        <div class="item item_inline">
                            <div class="item__in">
                                <div class="item__img">
                                    <a href="#">
                                        <img src="./img/item.jpg" alt="img" data-cover>
                                    </a>
                                </div>
                                <div class="item__main">
                                    <div class="item__row">
                                        <div class="item__cell">
                                            <div class="meta">Сегодня 14:35</div>
                                        </div>
                                        <div class="item__cell">
                                            {{mixins.icon('vip')}}
                                        </div>
                                    </div>
                                    <div class="item__row item__block">
                                        <div class="item__cell">
                                            <a href="#" class="btn-favorite"></a>
                                        </div>
                                        <div class="item__cell">
                                            <div class="item__title">
                                                <a href="#" class="link link_big">Продается квартира в хорошем состоянии на берегу белого моря <span class="badge badge_top">VIP</span></a>
                                            </div>
                                        </div>
                                        <div class="item__cell item__price">
                                            <div class="price price_big">3 300 000 <i class="fa fa-rub"></i></div>
                                        </div>
                                    </div>
                                    <div class="item__row">
                                        <div class="item__cell">
                                            <span class="meta meta_dark">Керчь, ул. Мая, 23</span>
                                            <span class="meta">
                                                <a href="#">Квартиры</a>
                                            </span>
                                        </div>
                                        <div class="item__cell">
                                            <div class="item__links">
                                                <a class="link link_tiny" href="#">Агентство недвижимости ТвойДом</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item-cell-inline">
                        <div class="item item_inline">
                            <div class="item__in">
                                <div class="item__img">
                                    <a href="#">
                                        <img src="./img/item.jpg" alt="img" data-cover>
                                    </a>
                                </div>
                                <div class="item__main">
                                    <div class="item__row">
                                        <div class="item__cell">
                                            <div class="meta">Сегодня 14:35</div>
                                        </div>
                                        <div class="item__cell">
                                            {{mixins.icon('vip')}}
                                        </div>
                                    </div>
                                    <div class="item__row item__block">
                                        <div class="item__cell">
                                            <a href="#" class="btn-favorite"></a>
                                        </div>
                                        <div class="item__cell">
                                            <div class="item__title">
                                                <a href="#" class="link link_big">Продается квартира в хорошем состоянии на берегу белого моря <span class="badge badge_top">VIP</span></a>
                                            </div>
                                        </div>
                                        <div class="item__cell item__price">
                                            <div class="price price_big">3 300 000 <i class="fa fa-rub"></i></div>
                                        </div>
                                    </div>
                                    <div class="item__row">
                                        <div class="item__cell">
                                            <span class="meta meta_dark">Керчь, ул. Мая, 23</span>
                                            <span class="meta">
                                                <a href="#">Квартиры</a>
                                            </span>
                                        </div>
                                        <div class="item__cell">
                                            <div class="item__links">
                                                <a class="link link_tiny" href="#">Агентство недвижимости ТвойДом</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="title title_med title_left title_no-margin">Топ-объявления</div>
            <div class="items-wrap-inline">
                <div class="item-cell-inline">
                    <div class="item item_inline item_highlighted">
                        <div class="item__in">
                            <div class="item__img">
                                <a href="#">
                                    <img src="./img/item.jpg" alt="img" data-cover>
                                </a>
                            </div>
                            <div class="item__main">
                                <div class="item__row">
                                    <div class="item__cell">
                                        <div class="meta">Сегодня 14:35</div>
                                    </div>
                                    <div class="item__cell">
                                        {{mixins.icon('mark')}}
                                        {{mixins.icon('vip')}}
                                    </div>
                                </div>
                                <div class="item__row item__block">
                                    <div class="item__cell">
                                        <a href="#" class="btn-favorite"></a>
                                    </div>
                                    <div class="item__cell">
                                        <div class="item__title">
                                            <a href="#" class="link link_big">Продается квартира в хорошем состоянии на берегу белого моря <span class="badge badge_top">В топе</span></a>
                                        </div>
                                    </div>
                                    <div class="item__cell item__price">
                                        <div class="price price_big">3 300 000 <i class="fa fa-rub"></i></div>
                                    </div>
                                </div>
                                <div class="item__row">
                                    <div class="item__cell">
                                        <span class="meta meta_dark">Керчь, ул. Мая, 23</span>
                                        <span class="meta">
                                                <a href="#">Квартиры</a>
                                            </span>
                                    </div>
                                    <div class="item__cell">
                                        <div class="item__links">
                                            <a class="link link_tiny" href="#">Агентство недвижимости ТвойДом</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-cell-inline">
                    <div class="item item_inline">
                        <div class="item__in">
                            <div class="item__img">
                                <a href="#">
                                    <img src="./img/item.jpg" alt="img" data-cover>
                                </a>
                            </div>
                            <div class="item__main">
                                <div class="item__row">
                                    <div class="item__cell">
                                        <div class="meta">Сегодня 14:35</div>
                                    </div>
                                    <div class="item__cell">
                                        {{mixins.icon('vip')}}
                                    </div>
                                </div>
                                <div class="item__row item__block">
                                    <div class="item__cell">
                                        <a href="#" class="btn-favorite"></a>
                                    </div>
                                    <div class="item__cell">
                                        <div class="item__title">
                                            <a href="#" class="link link_big">Продается квартира в хорошем состоянии на берегу белого моря <span class="badge badge_top">В топе</span></a>
                                        </div>
                                    </div>
                                    <div class="item__cell item__price">
                                        <div class="price price_big">3 300 000 <i class="fa fa-rub"></i></div>
                                    </div>
                                </div>
                                <div class="item__row">
                                    <div class="item__cell">
                                        <span class="meta meta_dark">Керчь, ул. Мая, 23</span>
                                        <span class="meta">
                                                <a href="#">Квартиры</a>
                                            </span>
                                    </div>
                                    <div class="item__cell">
                                        <div class="item__links">
                                            <a class="link link_tiny" href="#">Агентство недвижимости ТвойДом</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-cell-inline">
                    <div class="item item_inline">
                        <div class="item__in">
                            <div class="item__img">
                                <a href="#">
                                    <img src="./img/item.jpg" alt="img" data-cover>
                                </a>
                            </div>
                            <div class="item__main">
                                <div class="item__row">
                                    <div class="item__cell">
                                        <div class="meta">Сегодня 14:35</div>
                                    </div>
                                    <div class="item__cell">
                                        {{mixins.icon('vip')}}
                                    </div>
                                </div>
                                <div class="item__row item__block">
                                    <div class="item__cell">
                                        <a href="#" class="btn-favorite"></a>
                                    </div>
                                    <div class="item__cell">
                                        <div class="item__title">
                                            <a href="#" class="link link_big">Продается квартира в хорошем состоянии на берегу белого моря <span class="badge badge_top">В топе</span></a>
                                        </div>
                                    </div>
                                    <div class="item__cell item__price">
                                        <div class="price price_big">3 300 000 <i class="fa fa-rub"></i></div>
                                    </div>
                                </div>
                                <div class="item__row">
                                    <div class="item__cell">
                                        <span class="meta meta_dark">Керчь, ул. Мая, 23</span>
                                        <span class="meta">
                                                <a href="#">Квартиры</a>
                                            </span>
                                    </div>
                                    <div class="item__cell">
                                        <div class="item__links">
                                            <a class="link link_tiny" href="#">Агентство недвижимости ТвойДом</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="title title_med title_left title_no-margin">Обычные объявления</div>
            <div class="items-wrap-inline">
                <div class="item-cell-inline">
                    <div class="item item_inline item_highlighted">
                        <div class="item__in">
                            <div class="item__img">
                                <a href="#">
                                    <img src="./img/item.jpg" alt="img" data-cover>
                                </a>
                            </div>
                            <div class="item__main">
                                <div class="item__row">
                                    <div class="item__cell">
                                        <div class="meta">Сегодня 14:35</div>
                                    </div>
                                    <div class="item__cell">
                                        {{mixins.icon('mark')}}
                                        {{mixins.icon('hot')}}
                                    </div>
                                </div>
                                <div class="item__row item__block">
                                    <div class="item__cell">
                                        <a href="#" class="btn-favorite"></a>
                                    </div>
                                    <div class="item__cell">
                                        <div class="item__title">
                                            <a href="#" class="link link_big">Продается квартира в хорошем состоянии на берегу белого моря <span class="badge badge_hot">СРочно</span></a>
                                        </div>
                                    </div>
                                    <div class="item__cell item__price">
                                        <div class="price price_big">3 300 000 <i class="fa fa-rub"></i></div>
                                    </div>
                                </div>
                                <div class="item__row">
                                    <div class="item__cell">
                                        <span class="meta meta_dark">Керчь, ул. Мая, 23</span>
                                        <span class="meta">
                                                <a href="#">Квартиры</a>
                                            </span>
                                    </div>
                                    <div class="item__cell">
                                        <div class="item__links">
                                            <a class="link link_tiny" href="#">Агентство недвижимости ТвойДом</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-cell-inline">
                    <div class="item item_inline item_highlighted">
                        <div class="item__in">
                            <div class="item__img">
                                <a href="#">
                                    <img src="./img/item.jpg" alt="img" data-cover>
                                </a>
                            </div>
                            <div class="item__main">
                                <div class="item__row">
                                    <div class="item__cell">
                                        <div class="meta">Сегодня 14:35</div>
                                    </div>
                                    <div class="item__cell">
                                        {{mixins.icon('mark')}}
                                        {{mixins.icon('hot')}}
                                    </div>
                                </div>
                                <div class="item__row item__block">
                                    <div class="item__cell">
                                        <a href="#" class="btn-favorite"></a>
                                    </div>
                                    <div class="item__cell">
                                        <div class="item__title">
                                            <a href="#" class="link link_big">Продается квартира в хорошем состоянии на берегу белого моря <span class="badge badge_hot">СРочно</span></a>
                                        </div>
                                    </div>
                                    <div class="item__cell item__price">
                                        <div class="price price_big">3 300 000 <i class="fa fa-rub"></i></div>
                                    </div>
                                </div>
                                <div class="item__row">
                                    <div class="item__cell">
                                        <span class="meta meta_dark">Керчь, ул. Мая, 23</span>
                                        <span class="meta">
                                                <a href="#">Квартиры</a>
                                            </span>
                                    </div>
                                    <div class="item__cell">
                                        <div class="item__links">
                                            <a class="link link_tiny" href="#">Агентство недвижимости ТвойДом</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-cell-inline">
                    <div class="item item_inline">
                        <div class="item__in">
                            <div class="item__img">
                                <a href="#">
                                    <img src="./img/item.jpg" alt="img" data-cover>
                                </a>
                            </div>
                            <div class="item__main">
                                <div class="item__row">
                                    <div class="item__cell">
                                        <div class="meta">Сегодня 14:35</div>
                                    </div>
                                    <div class="item__cell">
                                    </div>
                                </div>
                                <div class="item__row item__block">
                                    <div class="item__cell">
                                        <a href="#" class="btn-favorite"></a>
                                    </div>
                                    <div class="item__cell">
                                        <div class="item__title">
                                            <a href="#" class="link link_big">Продается квартира в хорошем состоянии на берегу белого моря</a>
                                        </div>
                                    </div>
                                    <div class="item__cell item__price">
                                        <div class="price price_big">3 300 000 <i class="fa fa-rub"></i></div>
                                    </div>
                                </div>
                                <div class="item__row">
                                    <div class="item__cell">
                                        <span class="meta meta_dark">Керчь, ул. Мая, 23</span>
                                        <span class="meta">
                                                <a href="#">Квартиры</a>
                                            </span>
                                    </div>
                                    <div class="item__cell">
                                        <div class="item__links">
                                            <a class="link link_tiny" href="#">Агентство недвижимости ТвойДом</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pager">
                <div class="pager__prev">
                    <a href="#">Следующая страница</a>
                </div>
                <ul class="pager__nav">
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li class="is-active"><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                </ul>
            </div>
        </div>
        <div class="l-cols__sidebar">
            <div class="item item_single">
                <div class="item__badge item__badge_vip">VIP</div>
                <div class="item__img">
                    <a href="#">
                        <img src="./img/item.jpg" alt="img" data-cover>
                    </a>
                </div>
                <div class="item__main">
                    <div class="item__head">
                        <a href="#" class="link link_big">Продается квартира</a>
                    </div>
                    <div class="item__row">
                        <div class="item__cell">
                            <div class="item__info">Симферополь</div>
                        </div>
                        <div class="item__cell item__price">
                            <div class="price">3 300 000 <i class="fa fa-rub"></i></div>
                        </div>
                    </div>
                    <div class="item__row">
                        <div class="item__cell">
                            <div class="meta">
                                <a href="#">Квартиры</a>
                            </div>
                        </div>
                        <div class="item__cell">
                            <a href="#" class="btn-favorite"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item item_single">
                <div class="item__badge item__badge_vip">VIP</div>
                <div class="item__img">
                    <a href="#">
                        <img src="./img/item.jpg" alt="img" data-cover>
                    </a>
                </div>
                <div class="item__main">
                    <div class="item__head">
                        <a href="#" class="link link_big">Продается квартира</a>
                    </div>
                    <div class="item__row">
                        <div class="item__cell">
                            <div class="item__info">Симферополь</div>
                        </div>
                        <div class="item__cell item__price">
                            <div class="price">3 300 000 <i class="fa fa-rub"></i></div>
                        </div>
                    </div>
                    <div class="item__row">
                        <div class="item__cell">
                            <div class="meta">
                                <a href="#">Квартиры</a>
                            </div>
                        </div>
                        <div class="item__cell">
                            <a href="#" class="btn-favorite"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item item_single">
                <div class="item__badge item__badge_vip">VIP</div>
                <div class="item__img">
                    <a href="#">
                        <img src="./img/item.jpg" alt="img" data-cover>
                    </a>
                </div>
                <div class="item__main">
                    <div class="item__head">
                        <a href="#" class="link link_big">Продается квартира</a>
                    </div>
                    <div class="item__row">
                        <div class="item__cell">
                            <div class="item__info">Симферополь</div>
                        </div>
                        <div class="item__cell item__price">
                            <div class="price">3 300 000 <i class="fa fa-rub"></i></div>
                        </div>
                    </div>
                    <div class="item__row">
                        <div class="item__cell">
                            <div class="meta">
                                <a href="#">Квартиры</a>
                            </div>
                        </div>
                        <div class="item__cell">
                            <a href="#" class="btn-favorite"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner">
                <a href="#">
                    <img src="./img/banner.jpg" alt="banner">
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
