<script src="../js/initPlugins/index.js"></script>---
title: cabinet 02
bottom: false
---
{% extends "layouts/_layout.html" %}

{% block content %}

<div class="l-center">
    <h1 class="title">Личный кабинет</h1>
    <div class="l-panel">
        <div class="l-panel__sidebar">
            <ul class="nav nav_office">
                <li class="nav__item">
                    <a href="#" class="nav__link">Мои объявления</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Сообщения</a>
                </li>
                <li class="nav__item is-active">
                    <span class="nav__link js-toggle is-active" data-toggle=".nav__drop" data-parent="true">Кошелёк</span>
                    <ul class="nav__drop is-active">
                        <li class="nav__item is-active">
                            <a href="#" class="nav__link">Пополнение счета</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">История</a>
                        </li>
                    </ul>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Настройки</a>
                </li>
            </ul>
        </div>
        <div class="l-panel__main">
            <div class="l-panel__in">
                <div class="fieldset">
                    <div class="refill">
                        <div class="refill__in">
                            <div class="refill__cell">
                                <h2 class="title title_med">Сумма пополнения</h2>
                                <label class="field field_inline">
                                    <input type="number" class="input" value="5000" step="100">
                                </label>
                                <span class="field-text">Р</span>
                            </div>
                            <div class="refill__cell">
                                <div class="balance">
                                    <span class="balance__title">На вашем счету:</span>
                                    <div class="balance__value">1200 Р</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fieldset">
                    <h2 class="title title_med">Способ пополнения</h2>
                    <div class="payments">
                        <div class="payments__in">
                            <div class="payments__cell">
                                <a class="payment" href="#">
                                    <span class="payment__icon">
                                        <i class="fa fa-credit-card-alt"></i>
                                    </span>
                                    <span class="payment__name">Пластиковая карта</span>
                                </a>
                            </div>
                            <div class="payments__cell">
                                <a class="payment" href="#">
                                    <span class="payment__icon">
                                        <img src="./img/payments/yandex.png" width="28" height="36" alt="Яндекс.Деньги">
                                    </span>
                                    <span class="payment__name">Яндекс.Деньги</span>
                                </a>
                            </div>
                            <div class="payments__cell">
                                <a class="payment" href="#">
                                    <span class="payment__icon">
                                        <i class="fa fa-commenting"></i>
                                    </span>
                                    <span class="payment__name">SMS</span>
                                </a>
                            </div>
                            <div class="payments__cell">
                                <a class="payment" href="#">
                                    <span class="payment__icon">
                                        <img src="./img/payments/qiwi.png" width="33" height="34" alt="QIWI">
                                    </span>
                                    <span class="payment__name">QIWI</span>
                                </a>
                            </div>
                            <div class="payments__cell">
                                <a class="payment" href="#">
                                    <span class="payment__icon">
                                        <img src="./img/payments/qiwi-terminal.png" width="33" height="34" alt="QIWI терминал">
                                    </span>
                                    <span class="payment__name">QIWI терминал</span>
                                </a>
                            </div>
                            <div class="payments__cell">
                                <a class="payment" href="#">
                                    <span class="payment__icon">
                                        <img src="./img/payments/sberbank.png" width="36" height="34" alt="Сбербанк онлайн">
                                    </span>
                                    <span class="payment__name">Сбербанк онлайн</span>
                                </a>
                            </div>
                            <div class="payments__cell">
                                <a class="payment" href="#">
                                    <span class="payment__icon">
                                        <i class="fa fa-money"></i>
                                    </span>
                                    <span class="payment__name">Оплата наличными</span>
                                </a>
                            </div>
                            <div class="payments__cell">
                                <a class="payment" href="#">
                                    <span class="payment__icon">
                                        <img src="./img/payments/webmoney.png" width="32" height="32" alt="Webmoney">
                                    </span>
                                    <span class="payment__name">Webmoney</span>
                                </a>
                            </div>
                            <div class="payments__cell">
                                <a class="payment" href="#">
                                    <span class="payment__icon">
                                        <i class="fa fa-bank"></i>
                                    </span>
                                    <span class="payment__name">Банковский перевод</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
