<script src="../js/initPlugins/index.js"></script>---
title: cabinet 02
bottom: false
---
{% extends "layouts/_layout.html" %}

{% block content %}

<div class="l-center">
    <h1 class="title">Личный кабинет</h1>
    <div class="l-panel">
        <div class="l-panel__sidebar">
            <ul class="nav nav_office">
                <li class="nav__item"><a href="#" class="nav__link">Мои объявления</a></li>
                <li class="nav__item is-active"><a href="#" class="nav__link">Сообщения</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Кошелёк</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Настройки</a></li>
            </ul>
        </div>
        <div class="l-panel__main">
            <div class="l-panel__in">
                <div class="chat">
                    <div class="chat__in">
                        <button class="btn btn_circle js-toggle" data-toggle=".js-contacts" type="button">
                            <i class="fa fa-vcard-o"></i>
                            <span class="notification notification_counter">1</span>
                        </button>
                        <div class="chat__contacts js-contacts">
                            <div class="chat__scrollbar js-scrollbar">
                                <div class="user">
                                    <a class="user__in" href="#">
                                        <div class="user__img">
                                            <img src="./img/user.png" data-cover alt="Юрий Стоянов">
                                        </div>
                                        <div class="user__main">
                                            <div class="user__name">Юрий Стоянов</div>
                                            <div class="meta meta_light">18 декабря 22:12</div>
                                        </div>
                                    </a>
                                    <span class="notification"></span>
                                </div>
                                <div class="user is-active">
                                    <a class="user__in" href="#">
                                        <div class="user__img">
                                            <img src="./img/user.png" data-cover alt="Юрий Стоянов">
                                        </div>
                                        <div class="user__main">
                                            <div class="user__name">Юрий Стоянов</div>
                                            <div class="meta meta_light">18 декабря 22:12</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="user">
                                    <a class="user__in" href="#">
                                        <div class="user__img">
                                            <img src="./img/user.png" data-cover alt="Юрий Стоянов">
                                        </div>
                                        <div class="user__main">
                                            <div class="user__name">Юрий Стоянов</div>
                                            <div class="meta meta_light">18 декабря 22:12</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="user">
                                    <a class="user__in" href="#">
                                        <div class="user__img">
                                            <img src="./img/user.png" data-cover alt="Юрий Стоянов">
                                        </div>
                                        <div class="user__main">
                                            <div class="user__name">Юрий Стоянов</div>
                                            <div class="meta meta_light">18 декабря 22:12</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="user">
                                    <a class="user__in" href="#">
                                        <div class="user__img">
                                            <img src="./img/user.png" data-cover alt="Юрий Стоянов">
                                        </div>
                                        <div class="user__main">
                                            <div class="user__name">Юрий Стоянов</div>
                                            <div class="meta meta_light">18 декабря 22:12</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="user">
                                    <a class="user__in" href="#">
                                        <div class="user__img">
                                            <img src="./img/user.png" data-cover alt="Юрий Стоянов">
                                        </div>
                                        <div class="user__main">
                                            <div class="user__name">Юрий Стоянов</div>
                                            <div class="meta meta_light">18 декабря 22:12</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="user">
                                    <a class="user__in" href="#">
                                        <div class="user__img">
                                            <img src="./img/user.png" data-cover alt="Юрий Стоянов">
                                        </div>
                                        <div class="user__main">
                                            <div class="user__name">Юрий Стоянов</div>
                                            <div class="meta meta_light">18 декабря 22:12</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="chat__main">
                            <div class="chat__body js-scrollbar">
                                <div class="message message_buyer">
                                    <div class="message__in">
                                        <div class="message__text">Добрый день, Ринат!
                                            Предложение по поводу продажи
                                            автомобиля еще актуально!</div>
                                        <div class="message__meta">15:30</div>
                                    </div>
                                </div>
                                <div class="message message_seller">
                                    <div class="message__in">
                                        <div class="message__text">Здравствуйте. Да!</div>
                                        <div class="message__meta">15:30</div>
                                    </div>
                                </div>
                                <div class="message message_buyer">
                                    <div class="message__in">
                                        <div class="message__text">Добрый день, Ринат!
                                            Предложение по поводу продажи
                                            автомобиля еще актуально!</div>
                                        <div class="message__meta">15:30</div>
                                    </div>
                                </div>
                                <div class="message message_buyer">
                                    <div class="message__in">
                                        <div class="message__text">Добрый день, Ринат!
                                            Предложение по поводу продажи
                                            автомобиля еще актуально!</div>
                                        <div class="message__meta">15:30</div>
                                    </div>
                                </div>
                                <div class="message message_seller">
                                    <div class="message__in">
                                        <div class="message__text">Здравствуйте. Да!</div>
                                        <div class="message__meta">15:30</div>
                                    </div>
                                </div>
                                <div class="message message_seller">
                                    <div class="message__in">
                                        <div class="message__text">Здравствуйте. Да!</div>
                                        <div class="message__meta">15:30</div>
                                    </div>
                                </div>
                            </div>
                            <div class="chat__write">
                                <form action="#">
                                    <div class="action">
                                        <label class="action__input">
                                            <input type="text" class="input">
                                        </label>
                                        <div class="action__btn">
                                            <button class="btn btn_fluid btn_icon-sm" type="submit">
                                                <i class="fa fa-send"></i>
                                                <span>Отправить</span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
