---
title: cabinet 01
bottom: false
---
{% extends "layouts/_layout.html" %}

{% block content %}

<div class="l-center">
    <h1 class="title">Личный кабинет</h1>
    <div class="l-panel">
        <div class="l-panel__sidebar">
            <ul class="nav nav_office">
                <li class="nav__item is-active"><a href="#" class="nav__link">Мои объявления</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Сообщения</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Кошелёк</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Настройки</a></li>
            </ul>
        </div>
        <div class="l-panel__main">
            <div class="l-panel__in">
                <div class="items-wrap-inline">
                    <div class="item-cell-inline">
                        <div class="item item_inline">
                            <div class="item__in">
                                <div class="item__img">
                                    <a href="#">
                                        <img src="./img/item.jpg" alt="img" data-cover>
                                    </a>
                                </div>
                                <div class="item__main">
                                    <div class="meta">Сегодня 14:35</div>
                                    <div class="item__row item__block">
                                        <div class="item__cell item__favorite">
                                            <a href="#" class="btn-favorite"></a>
                                        </div>
                                        <div class="item__cell">
                                            <div class="item__title">
                                                <a href="#" class="link link_big">Продается квартира в хорошем состоянии на берегу белого моря</a>
                                            </div>
                                        </div>
                                        <div class="item__cell item__price">
                                            <div class="price price_big">3 300 000 <i class="fa fa-rub"></i></div>
                                        </div>
                                    </div>
                                    <div class="item__row">
                                        <div class="item__cell">
                                            <span class="meta meta_dark">Керчь, ул. Мая, 23</span>
                                            <span class="meta">
                                                <a href="#">Квартиры</a>
                                            </span>
                                        </div>
                                        <div class="item__cell">
                                            <div class="item__links">
                                                <a class="link link_main link_tiny" href="#">Удалить</a>
                                                <a class="link link_main link_tiny link_bold" href="#">Редактировать</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item-cell-inline">
                        <div class="item item_inline">
                            <div class="item__in">
                                <div class="item__img">
                                    <a href="#">
                                        <img src="./img/item.jpg" alt="img" data-cover>
                                    </a>
                                </div>
                                <div class="item__main">
                                    <div class="meta">Сегодня 14:35</div>
                                    <div class="item__row item__block">
                                        <div class="item__cell item__favorite">
                                            <a href="#" class="btn-favorite"></a>
                                        </div>
                                        <div class="item__cell">
                                            <div class="item__title">
                                                <a href="#" class="link link_big">Продается квартира в хорошем состоянии на берегу белого моря</a>
                                            </div>
                                        </div>
                                        <div class="item__cell item__price">
                                            <div class="price price_big">3 300 000 <i class="fa fa-rub"></i></div>
                                        </div>
                                    </div>
                                    <div class="item__row">
                                        <div class="item__cell">
                                            <span class="meta meta_dark">Керчь, ул. Мая, 23</span>
                                            <span class="meta">
                                                <a href="#">Квартиры</a>
                                            </span>
                                        </div>
                                        <div class="item__cell">
                                            <div class="item__links">
                                                <a class="link link_main link_tiny" href="#">Удалить</a>
                                                <a class="link link_main link_tiny link_bold" href="#">Редактировать</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-add-wrap">
                    <a href="#" class="btn-add"> <i class="fa fa-plus-circle"></i> <span>Подать объявление</span> </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
