---
title: Index page
bottom: false
searchPlaceholder: 'Поиск компаний 12 3455'
---
{% extends "layouts/_layout.html" %}

{% block content %}
<div class="menu-panel">
    {% include "partials/_search.html" %}
</div>
<div class="l-center">
    <div class="l-cols">
        <div class="l-cols__main">
            <div class="page-nav">
                <div class="page-nav__cell">
                    <ul class="crumbs">
                        <li class="crumbs__item">
                            <a class="crumbs__link" href="#">Все компании в Симферополе</a>
                        </li>
                        <li class="crumbs__item">
                            Недвижимость <span class="meta">2 342 554</span>
                        </li>
                    </ul>
                    <div class="page-nav__cols">
                        <div class="page-nav__link">
                            <a class="link link_small" href="#">Недвижимость</a>
                            <span class="meta">1 260 995</span>
                        </div>
                        <div class="page-nav__link">
                            <a class="link link_small" href="#">Транспорт</a>
                            <span class="meta">60 995</span>
                        </div>
                        <div class="page-nav__link">
                            <a class="link link_small" href="#">Услуги</a>
                            <span class="meta">7 995</span>
                        </div>
                        <div class="page-nav__link">
                            <a class="link link_small" href="#">Личные вещи</a>
                            <span class="meta">260 995</span>
                        </div>
                        <div class="page-nav__link">
                            <a class="link link_small" href="#">Животные</a>
                            <span class="meta">100 260 995</span>
                        </div>
                        <div class="page-nav__link">
                            <a class="link link_small" href="#">Работа</a>
                            <span class="meta">995</span>
                        </div>
                    </div>
                </div>
                <div class="page-nav__cell">
                    <a href="#" class="btn-add btn-add_company">
                        <i class="fa fa-plus-circle"></i>
                        <span>Подключить компанию</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="l-cols__sidebar"></div>
    </div>
    <div class="l-cols">
        <div class="l-cols__main">
            <div class="items-wrap-inline">
                <div class="item-cell-inline">
                    <div class="item item_inline item_inline-company">
                        <div class="item__in">
                            <div class="item__img">
                                <a href="#">
                                    <img src="./img/woodworks.png" alt="img">
                                </a>
                            </div>
                            <div class="item__main">
                                <div class="item__row">
                                    <div class="item__cell">
                                        <span class="meta meta_dark">Ялта</span>
                                        <span class="meta">
                                            <a href="#">Квартиры</a>
                                        </span>
                                    </div>
                                    <div class="item__cell">
                                        <div class="meta">На сайте с мая 2014</div>
                                    </div>
                                </div>
                                <div class="item__row item__block">
                                    <div class="item__cell">
                                        <a href="#" class="link link_big">Строительная компания WoodWorks</a>
                                    </div>
                                    <div class="item__cell item__price">
                                        <div class="price">69 объявлений</div>
                                    </div>
                                </div>
                                <div class="item__text">В соответствии с настоящим Договором Исполнитель обязуется оказывать за счет Абонента
                                    (абонентская плата) и от его имени услуги по поиску нанимателей жилого помещения, далее
                                    именуемых «Наниматель», на объекты</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-cell-inline">
                    <div class="item item_inline item_inline-company">
                        <div class="item__in">
                            <div class="item__img">
                                <a href="#">
                                    <img src="./img/woodworks.png" alt="img">
                                </a>
                            </div>
                            <div class="item__main">
                                <div class="item__row">
                                    <div class="item__cell">
                                        <span class="meta meta_dark">Ялта</span>
                                        <span class="meta">
                                            <a href="#">Квартиры</a>
                                        </span>
                                    </div>
                                    <div class="item__cell">
                                        <div class="meta">На сайте с мая 2014</div>
                                    </div>
                                </div>
                                <div class="item__row item__block">
                                    <div class="item__cell">
                                        <a href="#" class="link link_big">Строительная компания WoodWorks</a>
                                    </div>
                                    <div class="item__cell item__price">
                                        <div class="price">69 объявлений</div>
                                    </div>
                                </div>
                                <div class="item__text">В соответствии с настоящим Договором Исполнитель обязуется оказывать за счет Абонента
                                    (абонентская плата) и от его имени услуги по поиску нанимателей жилого помещения, далее
                                    именуемых «Наниматель», на объекты</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-cell-inline">
                    <div class="item item_inline item_inline-company">
                        <div class="item__in">
                            <div class="item__img">
                                <a href="#">
                                    <img src="./img/woodworks.png" alt="img">
                                </a>
                            </div>
                            <div class="item__main">
                                <div class="item__row">
                                    <div class="item__cell">
                                        <span class="meta meta_dark">Ялта</span>
                                        <span class="meta">
                                            <a href="#">Квартиры</a>
                                        </span>
                                    </div>
                                    <div class="item__cell">
                                        <div class="meta">На сайте с мая 2014</div>
                                    </div>
                                </div>
                                <div class="item__row item__block">
                                    <div class="item__cell">
                                        <a href="#" class="link link_big">Строительная компания WoodWorks</a>
                                    </div>
                                    <div class="item__cell item__price">
                                        <div class="price">69 объявлений</div>
                                    </div>
                                </div>
                                <div class="item__text">В соответствии с настоящим Договором Исполнитель обязуется оказывать за счет Абонента
                                    (абонентская плата) и от его имени услуги по поиску нанимателей жилого помещения, далее
                                    именуемых «Наниматель», на объекты</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-cell-inline">
                    <div class="item item_inline item_inline-company">
                        <div class="item__in">
                            <div class="item__img">
                                <a href="#">
                                    <img src="./img/woodworks.png" alt="img">
                                </a>
                            </div>
                            <div class="item__main">
                                <div class="item__row">
                                    <div class="item__cell">
                                        <span class="meta meta_dark">Ялта</span>
                                        <span class="meta">
                                            <a href="#">Квартиры</a>
                                        </span>
                                    </div>
                                    <div class="item__cell">
                                        <div class="meta">На сайте с мая 2014</div>
                                    </div>
                                </div>
                                <div class="item__row item__block">
                                    <div class="item__cell">
                                        <a href="#" class="link link_big">Строительная компания WoodWorks</a>
                                    </div>
                                    <div class="item__cell item__price">
                                        <div class="price">69 объявлений</div>
                                    </div>
                                </div>
                                <div class="item__text">В соответствии с настоящим Договором Исполнитель обязуется оказывать за счет Абонента
                                    (абонентская плата) и от его имени услуги по поиску нанимателей жилого помещения, далее
                                    именуемых «Наниматель», на объекты</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-cell-inline">
                    <div class="item item_inline item_inline-company">
                        <div class="item__in">
                            <div class="item__img">
                                <a href="#">
                                    <img src="./img/woodworks.png" alt="img">
                                </a>
                            </div>
                            <div class="item__main">
                                <div class="item__row">
                                    <div class="item__cell">
                                        <span class="meta meta_dark">Ялта</span>
                                        <span class="meta">
                                            <a href="#">Квартиры</a>
                                        </span>
                                    </div>
                                    <div class="item__cell">
                                        <div class="meta">На сайте с мая 2014</div>
                                    </div>
                                </div>
                                <div class="item__row item__block">
                                    <div class="item__cell">
                                        <a href="#" class="link link_big">Строительная компания WoodWorks</a>
                                    </div>
                                    <div class="item__cell item__price">
                                        <div class="price">69 объявлений</div>
                                    </div>
                                </div>
                                <div class="item__text">В соответствии с настоящим Договором Исполнитель обязуется оказывать за счет Абонента
                                    (абонентская плата) и от его имени услуги по поиску нанимателей жилого помещения, далее
                                    именуемых «Наниматель», на объекты</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pager">
                <div class="pager__prev">
                    <a href="#">Следующая страница</a>
                </div>
                <ul class="pager__nav">
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li class="is-active"><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                </ul>
            </div>
        </div>
        <div class="l-cols__sidebar">
            <div class="banner">
                <a href="#">
                    <img src="./img/banner.jpg" alt="banner">
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
