---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
<div class="menu-panel">
    {% include "partials/_search.html" %}
    {% include "partials/_menu.html" %}
</div>
<div class="l-center">
    <div class="title">Новые объявления</div>
    <div class="items-wrap">
        {% import "data/items.html" as items %}
        {% for item in items.list %}
        <div class="item-cell">
            <div class="item">
                <div class="item__img">
                    <a href="#">
                        <img src="{{item.img}}" alt="img" data-cover>
                    </a>
                </div>
                <div class="item__main">
                    <div class="item__head">
                        <a href="#" class="link link_big">{{item.title}}</a>
                    </div>
                    <div class="item__row">
                        <div class="item__cell">
                            <div class="item__info">{{item.city}}</div>
                        </div>
                        <div class="item__cell item__price">
                            <div class="price">{{item.price}} <i class="fa fa-rub"></i></div>
                        </div>
                    </div>
                    <div class="item__row">
                        <div class="item__cell">
                            <div class="meta">
                                <a href="#">{{item.category}}</a>
                            </div>
                        </div>
                        <div class="item__cell">
                            {% if item.favorite %}
                            <a href="#" class="btn-favorite is-active"></a>
                            {% else %}
                            <a href="#" class="btn-favorite"></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
