---
title: Вход
bottom: false
logined: false
---
{% extends "layouts/_layout.html" %}

{% block content %}

<div class="l-center">
    <h1 class="title">Вход</h1>
    <div class="form-panel">
        <form action="#">
            <label class="field">
                <input type="email" class="input" placeholder="Электронная почта" required>
            </label>
            <label class="field">
                <input type="password" class="input" placeholder="Пароль" required>
            </label>
            <div class="field">
                <div class="field__row">
                    <div class="field__cell">
                        <label class="switch">
                            <input type="checkbox">
                            <span class="switch__text">Чужой компьютер</span>
                        </label>
                    </div>
                    <div class="field__cell">
                        <a href="#" class="link link_small">Забыли пароль?</a>
                    </div>
                </div>
            </div>
            <div class="btn-wrap">
                <button class="btn" type="submit"><i class="fa fa-user"></i>Войти</button>
            </div>
            <div class="soc soc_colored">
                <div class="soc__title">или войдите через</div>
                <a href="#" class="soc__link"> <i class="fa fa-twitter"></i> </a>
                <a href="#" class="soc__link"> <i class="fa fa-facebook-official"></i> </a>
                <a href="#" class="soc__link"> <i class="fa fa-vk"></i> </a>
                <a href="#" class="soc__link"> <i class="fa fa-odnoklassniki-square"></i> </a>
            </div>
        </form>
    </div>
    <div class="under-form">Ещё не зарегистрированы? <a href="#" class="link link_small link_bold">Регистрация</a></div>
</div>

{% endblock %}
