---
title: Вход
bottom: false
logined: false
---
{% extends "layouts/_layout.html" %}

{% block content %}

<div class="l-center">
    <h1 class="title">Регистрация</h1>
    <div class="form-panel">
        <form action="#">
            <div class="field">
                <div class="switch-wrap">
                    <label class="switch switch_radio">
                        <input type="radio" name="type" checked>
                        <span class="switch__text">Частное лицо</span>
                    </label>
                    <label class="switch switch_radio">
                        <input type="radio" name="type">
                        <span class="switch__text">Компания</span>
                    </label>
                </div>
            </div>
            <div class="field field_inputs">
                <div class="field__row">
                    <label class="field__cell">
                        <input type="email" name="email" class="input" placeholder="Эл. почта" required>
                    </label>
                    <label class="field__cell">
                        <input type="tel" name="tel" class="input" placeholder="Телефон" required>
                    </label>
                </div>
            </div>
            <div class="field field_inputs">
                <div class="field__row">
                    <label class="field__cell">
                        <input type="password" name="password" class="input" placeholder="Пароль" required>
                    </label>
                    <label class="field__cell">
                        <input type="password" name="passwordConfirm" class="input" placeholder="Пароль еще раз" required>
                    </label>
                </div>
            </div>
            <div class="field">
                <div class="captcha">
                    <div class="captcha__input">
                        <input type="text" class="input" placeholder="Текст с картинки">
                    </div>
                    <div class="captcha__img">
                        <img src="./img/captcha.png" alt="img">
                    </div>
                    <div class="captcha__reload">
                        <a href="#">Обновить картинку</a>
                    </div>
                </div>
            </div>

            <div class="btn-wrap">
                <button class="btn" type="submit"><i class="fa fa-user"></i>Зарегистрироваться</button>
            </div>
            <div class="soc soc_colored">
                <div class="soc__title">или войдите через</div>
                <a href="#" class="soc__link"> <i class="fa fa-twitter"></i> </a>
                <a href="#" class="soc__link"> <i class="fa fa-facebook-official"></i> </a>
                <a href="#" class="soc__link"> <i class="fa fa-vk"></i> </a>
                <a href="#" class="soc__link"> <i class="fa fa-odnoklassniki-square"></i> </a>
            </div>
        </form>
    </div>
    <!--<div class="under-form">Ещё не зарегистрированы? <a href="#" class="link link_small link_bold">Регистрация</a></div>-->
</div>

{% endblock %}
