---
title: Sitemap
bottom: false
---
{% extends "layouts/_layout.html" %}

{% block content %}

<div class="l-center">
    <h1 class="title title_no-margin">Карта сайта</h1>
    <div class="sitemap">
        <div class="sitemap__cell">
            <h2 class="title title_med"><a href="#">Транспорт</a></h2>
            <h3 class="title title_small"><a href="#">Автомобили</a></h3>
            <ul class="nav nav_reg">
                <li class="nav__item"><a class="nav__link" href="#">Мотоциклы и мототехника</a></li>
                <li class="nav__item"><a class="nav__link" href="#">Грузовики и спецтехника</a></li>
                <li class="nav__item"><a class="nav__link" href="#">Водный транспорт</a></li>
            </ul>
        </div>
        <div class="sitemap__cell">
            <h2 class="title title_med"><a href="#">Транспорт</a></h2>
            <h3 class="title title_small"><a href="#">Автомобили</a></h3>
            <ul class="nav nav_reg">
                <li class="nav__item"><a class="nav__link" href="#">Мотоциклы и мототехника</a></li>
                <li class="nav__item"><a class="nav__link" href="#">Грузовики и спецтехника</a></li>
                <li class="nav__item"><a class="nav__link" href="#">Водный транспорт</a></li>
            </ul>
        </div>
        <div class="sitemap__cell">
            <h2 class="title title_med"><a href="#">Транспорт</a></h2>
            <h3 class="title title_small"><a href="#">Автомобили</a></h3>
            <ul class="nav nav_reg">
                <li class="nav__item"><a class="nav__link" href="#">Мотоциклы и мототехника</a></li>
                <li class="nav__item"><a class="nav__link" href="#">Грузовики и спецтехника</a></li>
                <li class="nav__item"><a class="nav__link" href="#">Водный транспорт</a></li>
            </ul>
        </div>
        <div class="sitemap__cell">
            <h2 class="title title_med"><a href="#">Транспорт</a></h2>
            <h3 class="title title_small"><a href="#">Автомобили</a></h3>
            <ul class="nav nav_reg">
                <li class="nav__item"><a class="nav__link" href="#">Мотоциклы и мототехника</a></li>
                <li class="nav__item"><a class="nav__link" href="#">Грузовики и спецтехника</a></li>
                <li class="nav__item"><a class="nav__link" href="#">Водный транспорт</a></li>
            </ul>
        </div>
        <div class="sitemap__cell">
            <h2 class="title title_med"><a href="#">Транспорт</a></h2>
            <h3 class="title title_small"><a href="#">Автомобили</a></h3>
            <ul class="nav nav_reg">
                <li class="nav__item"><a class="nav__link" href="#">Мотоциклы и мототехника</a></li>
                <li class="nav__item"><a class="nav__link" href="#">Грузовики и спецтехника</a></li>
                <li class="nav__item"><a class="nav__link" href="#">Водный транспорт</a></li>
            </ul>
        </div>
        <div class="sitemap__cell">
            <h2 class="title title_med"><a href="#">Транспорт</a></h2>
            <h3 class="title title_small"><a href="#">Автомобили</a></h3>
            <ul class="nav nav_reg">
                <li class="nav__item"><a class="nav__link" href="#">Мотоциклы и мототехника</a></li>
                <li class="nav__item"><a class="nav__link" href="#">Грузовики и спецтехника</a></li>
                <li class="nav__item"><a class="nav__link" href="#">Водный транспорт</a></li>
            </ul>
        </div>
        <div class="sitemap__cell">
            <h2 class="title title_med"><a href="#">Транспорт</a></h2>
            <h3 class="title title_small"><a href="#">Автомобили</a></h3>
            <ul class="nav nav_reg">
                <li class="nav__item"><a class="nav__link" href="#">Мотоциклы и мототехника</a></li>
                <li class="nav__item"><a class="nav__link" href="#">Грузовики и спецтехника</a></li>
                <li class="nav__item"><a class="nav__link" href="#">Водный транспорт</a></li>
            </ul>
        </div>
        <div class="sitemap__cell">
            <h2 class="title title_med"><a href="#">Транспорт</a></h2>
            <h3 class="title title_small"><a href="#">Автомобили</a></h3>
            <ul class="nav nav_reg">
                <li class="nav__item"><a class="nav__link" href="#">Мотоциклы и мототехника</a></li>
                <li class="nav__item"><a class="nav__link" href="#">Грузовики и спецтехника</a></li>
                <li class="nav__item"><a class="nav__link" href="#">Водный транспорт</a></li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}
