<div class="bottom">
    <div class="l-center">
        <div class="bottom__in">
            <div class="bottom__cell">
                <div class="title-small">
                    <a href="#">Недвижимость</a>
                </div>
                <ul class="nav nav_reg">
                    <li class="nav__item"><a href="#" class="nav__link">Квартиры</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Комнаты</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Дома, дачи, коттеджи</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Земельные участки</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Гаражи и машиноместа</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Коммерческая недвижимость</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Недвижимость за рубежом</a></li>
                </ul>
            </div>
            <div class="bottom__cell">
                <div class="title-small">
                    <a href="#">Транспорт</a>
                </div>
                <ul class="nav nav_reg">
                    <li class="nav__item"><a href="#" class="nav__link">Автомобили</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Мотоциклы и мототехника</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Грузовики и спецтехника</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Водный транспорт</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Запчасти и аксессуары</a></li>
                </ul>
            </div>
            <div class="bottom__cell">
                <div class="title-small">
                    <a href="#">Работа</a>
                </div>
                <ul class="nav nav_reg">
                    <li class="nav__item"><a href="#" class="nav__link">Вакансии работадателей</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Резюме соискателей</a></li>
                </ul>
                <div class="title-small">
                    <a href="#">Услуги</a>
                </div>
                <ul class="nav nav_reg">
                    <li class="nav__item"><a href="#" class="nav__link">Предложение услуг</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Заказ услуг</a></li>
                </ul>
            </div>
            <div class="bottom__cell">
                <div class="title-small">
                    <a href="#">Личные вещи</a>
                </div>
                <ul class="nav nav_reg">
                    <li class="nav__item"><a href="#" class="nav__link">Одежда, обувь, аксессуары</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Детская одежда и обувь</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Товары для детей и игрушки</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Часы и украшения</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Красота и здоровье</a></li>
                </ul>
                <a href="#" class="link">Все разделы сайта</a>
            </div>
        </div>
        <div class="bottom__in">
            <div class="bottom__full-cell">
                <div class="title-small">
                    Населенные пункты
                </div>
                <ul class="nav nav_reg nav_inline">
                    <li class="nav__item"><a href="#" class="nav__link">Алупка,</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Алушта,</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Армянск,</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Бахчисарай,</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Белогорск,</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Береговое,</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Джанкой,</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Евпатория,</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Знаменка,</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Инкерман,</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Керчь,</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Красногвардейское,</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Красноперекопск,</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Раздольное,</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Саки,</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Севастополь,</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Симферополь,</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Старый Крым,</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Судак,</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Феодосия,</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Черноморское,</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Щёлкино,</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Ялта</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>