<div class="contacts">
    <div class="l-center l-center_small">
        <ul class="contacts__list">
            <li class="contacts__item">
                <span class="contacts__title">Телефон</span>
                <a href="tel:88002003404450" class="contacts__link">8 800 200 340 44 50</a>
            </li>
            <li class="contacts__item">
                <span class="contacts__title">Эл. почта</span>
                <a href="mailto:info@diols.ru" class="contacts__link">info@diols.ru</a>
            </li>
        </ul>
    </div>
</div>