<div class="footer">
    <div class="l-center">
        <div class="footer__in">
            <div class="footer__logo">
                <div class="logo-extend">
                    <a class="logo-extend__img" href="./">
                        <img src="./img/logo-gray.png" width="51" height="74" alt="Diols">
                    </a>
                    <span class="logo-extend__text">
                        <strong>Сервис объявлений №1 в Крыму.</strong>
                        С помощью доски объявлений Diols.ru вы сможете купить или продать из рук в руки практически все, что угодно.
                    </span>
                </div>
            </div>
            <div class="footer__nav">
                <ul class="nav nav_reg nav_light">
                    <li class="nav__item"><a href="#" class="nav__link">Подать объявления</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Объявления</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Компании</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Помощь</a></li>
                </ul>
            </div>
            <div class="footer__nav">
                <ul class="nav nav_reg nav_light">
                    <li class="nav__item"><a href="#" class="nav__link">Платные объявления</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Реклама на сайте</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">О нас</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
                </ul>
            </div>
            <div class="footer__soc">
                <div class="soc">
                    <div class="soc__title">Мы в социальных сетях</div>
                    <a href="#" class="soc__link">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#" class="soc__link">
                        <i class="fa fa-facebook-official"></i>
                    </a>
                    <a href="#" class="soc__link">
                        <i class="fa fa-vk"></i>
                    </a>
                    <a href="#" class="soc__link">
                        <i class="fa fa-odnoklassniki-square"></i>
                    </a>
                </div>
            </div>
            <div class="footer__apps">
                <div class="app-link">
                    <a href="#" target="_blank">
                        <img src="./img/googleplay.png" alt="googleplay">
                    </a>
                </div>
                <div class="app-link">
                    <a href="#" target="_blank">
                        <img src="./img/appstore.png" alt="appstore">
                    </a>
                </div>
            </div>
        </div>
        <div class="footer__copy">© Diols, 2017</div>
    </div>
</div>