<div class="header">
    <div class="header__wrap">
        <div class="l-center">
            <div class="header__in">
                <div class="header__left">
                    <a href="./" class="logo">
                        <span class="logo__img">
                            <img src="./img/logo.svg" width="100" height="35" alt="Diols">
                        </span>
                        <strong class="logo__text">Сайт бесплатных объявлений в Республике Крым и Севастополе</strong>
                    </a>
                </div>
                <div class="header__right">
                    <a class="link-icon" href="#">
                        <i class="fa fa-comments"></i>
                    </a>
                    <a class="link-icon" href="#">
                        <i class="fa fa-star"></i>
                    </a>
                    <a class="cash" href="#">
                        <span>1200</span>
                        <i class="fa fa-rub"></i>
                    </a>
                    <div class="user-link">
                        {% if logined == false %}
                        <a href="#"><i class="fa fa-sign-in"></i></a>
                        <a class="link link_bold" href="#">
                            Вход / Регистрация
                        </a>
                        {% else %}
                        <i class="fa fa-user"></i>
                        <a class="link link_bold" href="#">Анатолий</a>
                        <ul class="drop-list drop-list_small">
                            <li class="drop-list__item">
                                <a class="drop-list__link" href="#">Мои объявления</a>
                            </li>
                            <li class="drop-list__item">
                                <a class="drop-list__link" href="#">Кошелек</a>
                            </li>
                            <li class="drop-list__item">
                                <a class="drop-list__link" href="#">Сообщения</a>
                            </li>
                            <li class="drop-list__item">
                                <a class="drop-list__link" href="#">Компания</a>
                            </li>
                            <li class="drop-list__item">
                                <a class="drop-list__link" href="#">Настройки</a>
                            </li>
                            <li class="drop-list__item">
                                <a class="drop-list__link" href="#">Выход</a>
                            </li>
                        </ul>
                        {% endif %}
                    </div>
                    <a href="#" class="btn-add">
                        <i class="fa fa-plus-circle"></i>
                        <span>Подать объявление</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>