<div class="map-component">
    <div class="map-component__holder">
        <img src="./img/map.png" alt="img">
        <a href="#" class="link link_bold"><i class="fa fa-map-marker"></i> Поиск объявлений на карте</a>
    </div>
</div>