{% import "data/menu.html" as menu %}
<div class="menu-wrap">
    <div class="l-center">
        {% for menu in menu.list %}
        <div class="menu-cell">
            <div class="menu">
                <a class="menu__in" href="#">
                    <div class="menu__icon">
                        {{mixins.icon(menu.icon)}}
                    </div>
                    <div class="menu__title">{{menu.title}}</div>
                    <!--<ul class="drop-list">-->
                        <!--{% for item in menu.dropList %}-->
                        <!--<li class="drop-list__item">-->
                            <!--<a class="drop-list__link" href="{{item.link}}">{{item.title}}</a>-->
                        <!--</li>-->
                        <!--{% endfor %}-->
                    <!--</ul>-->
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>