{% import "data/menu.html" as menu %}
<form action="#">
    <div class="l-center">
        <div class="search">
            <div class="search__in">
                <div class="search__cell search__category">
                    <div class="select-category js-select-category">
                        <select name="category" style="width: 100%">
                            {% for menu in menu.list %}
                            <option value="{{menu.icon}}">{{menu.title}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="search__cell">
                    <div class="search__query">
                        {% if searchPlaceholder %}
                        <input class="input" type="text" placeholder="{{searchPlaceholder}}">
                        {% else %}
                        <input class="input" type="text" placeholder="Поиск объявлений 2 123 456">
                        {% endif %}
                        <div class="search__location">
                            <div class="select-location js-select-location">
                                <select name="location" style="width: 100%">
                                    <option value="all">Весь Крым</option>
                                    <option value="sim">Симферополь</option>
                                    <option value="sev">Севастополь</option>
                                    <option value="jal">Ялта</option>
                                </select>
                            </div>
                        </div>
                        <button class="search__submit" type="submit"><i class="fa fa-search"></i>Найти</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>