<div class="stat">
    <div class="l-center l-center_small">
        <ul class="stat__list">
            <li class="stat__item">
                <div class="stat__in">
                    <div class="stat__title">ТОП-10</div>
                    <div class="stat__info">Сайтов Крыма</div>
                </div>
            </li>
            <li class="stat__item">
                <div class="stat__in">
                    <div class="stat__title">33 МЛН</div>
                    <div class="stat__info">Объявлений на сайте</div>
                </div>
            </li>
            <li class="stat__item">
                <div class="stat__in">
                    <div class="stat__title">35 МЛН</div>
                    <div class="stat__info">Посетителей в месяц</div>
                </div>
            </li>
        </ul>
    </div>
</div>