<div class="top">
    <div class="l-center">
        <div class="top__in">
            <div class="top__left">
                <ul class="top__nav">
                    <li class="top__nav-item">
                        <a href="#" class="top__nav-link">Объявления</a>
                    </li>
                    <li class="top__nav-item">
                        <a href="#" class="top__nav-link">Компании</a>
                    </li>
                </ul>
            </div>
            <div class="top__right">
                <button class="burger js-toggle" data-toggle=".top__nav" type="button"><i></i></button>
                <ul class="top__contacts">
                    <li class="top__contacts-item">
                        <a class="top__contacts-link" href="mailto:info@diols.ru">
                            info@diols.ru
                        </a>
                    </li>
                    <li class="top__contacts-item">
                        <a class="top__contacts-link" href="tel:88002003404450">
                            8 800 200 340 44 50
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>