{% import "partials/_mixins.html" as mixins %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#fff">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" media="all" href="css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    {% include "../partials/_media-tags.html" %}
</head>
<body>

<!-- BEGIN content -->
<div class="out">
    {% include "partials/_top.html" %}
    {% include "partials/_header.html" %}
    {% block content %}{% endblock %}
    {% if bottom == false %}
    {% else %}
    {% include "partials/_bottom.html" %}
    {% endif %}
    {% include "partials/_footer.html" %}
</div>
<!-- END content -->

<!-- BEGIN scripts -->
<script type="text/javascript" src="js/app.js"></script>
<!-- END scripts -->

</body>
</html>
