@font-face {
  font-family: "iconfont";
  src: url('fonts/iconfont.eot');
  src: url('fonts/iconfont.eot?#iefix') format('eot'),
    url('fonts/iconfont.woff2') format('woff2'),
    url('fonts/iconfont.woff') format('woff'),
    url('fonts/iconfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$icon-auto: "\EA01";
$icon-business: "\EA02";
$icon-electronics: "\EA03";
$icon-gift: "\EA04";
$icon-help: "\EA05";
$icon-home: "\EA06";
$icon-hot: "\EA07";
$icon-lift-up: "\EA08";
$icon-mark: "\EA09";
$icon-personal: "\EA0A";
$icon-pets: "\EA0B";
$icon-property: "\EA0C";
$icon-services: "\EA0D";
$icon-sport: "\EA0E";
$icon-top: "\EA0F";
$icon-vip: "\EA10";
$icon-work: "\EA11";


%icon {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  @extend %icon;
  display: inline-block;
}

.icon-auto:before { content: $icon-auto; }
.icon-business:before { content: $icon-business; }
.icon-electronics:before { content: $icon-electronics; }
.icon-gift:before { content: $icon-gift; }
.icon-help:before { content: $icon-help; }
.icon-home:before { content: $icon-home; }
.icon-hot:before { content: $icon-hot; }
.icon-lift-up:before { content: $icon-lift-up; }
.icon-mark:before { content: $icon-mark; }
.icon-personal:before { content: $icon-personal; }
.icon-pets:before { content: $icon-pets; }
.icon-property:before { content: $icon-property; }
.icon-services:before { content: $icon-services; }
.icon-sport:before { content: $icon-sport; }
.icon-top:before { content: $icon-top; }
.icon-vip:before { content: $icon-vip; }
.icon-work:before { content: $icon-work; }
