.icon-auto {
  width: 1.12em;
  height: 1em;
  fill: #FF9511;
}
.icon-business {
  width: 0.9em;
  height: 1em;
  fill: none;
}
.icon-electronics {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-gift {
  width: 1.04em;
  height: 1em;
  fill: #FF9511;
}
.icon-help {
  width: 1.04em;
  height: 1em;
  fill: #ED9438;
}
.icon-home {
  width: 1.26em;
  height: 1em;
  fill: none;
}
.icon-hot {
  width: 0.67em;
  height: 1em;
  fill: initial;
}
.icon-lift-up {
  width: 1.1em;
  height: 1em;
  fill: initial;
}
.icon-mark {
  width: 0.73em;
  height: 1em;
  fill: initial;
}
.icon-personal {
  width: 1em;
  height: 1em;
  fill: #FF9511;
}
.icon-pets {
  width: 1.07em;
  height: 1em;
  fill: #FF9511;
}
.icon-property {
  width: 1em;
  height: 1em;
  fill: #FF9511;
}
.icon-services {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-sport {
  width: 0.93em;
  height: 1em;
  fill: none;
}
.icon-top {
  width: 1.1em;
  height: 1em;
  fill: initial;
}
.icon-vip {
  width: 0.8em;
  height: 1em;
  fill: initial;
}
.icon-work {
  width: 1em;
  height: 1em;
  fill: #EEA22D;
}
